.mainInfo {

  .mainInfo__header {
    padding: var(--_main-info-padding-block) 0;
    text-align: center;
    
    @media (min-width: $tablet-md) {
      text-align: left;
      .row {
        align-items: flex-start;
      }
      .btn {
        margin-left: auto;
      }
    }
  }

}

.mainInfo__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;

  @media (min-width: $mobile) {
    padding-inline: 6.33333333%;
    gap: 1.5rem;
  }

  @media (min-width: $tablet) {
    gap: 3rem;
  }
}

.mainInfo__cards-item {
  --_card-padding: clamp(1.5rem, -0.3571rem + 3.869vw, 3.125rem);
  background-color: hsla(var(--accent-hue), var(--accent-saturation), var(--accent-lightness--super-light), 1);
  border-radius: 1.25rem;
  padding: var(--_card-padding);
  padding-bottom: 70px;
  height: 100%;

  @media (min-width: $mobile) {
    border-radius: 1.875rem;
  }
}

.mainInfo__number {
  --_number-icon-size: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--_number-icon-size);
  height: var(--_number-icon-size);
  text-align: center;
  border: 1px solid var(--accent-color);
  border-radius: 1.25rem;
  color: var(--accent-color);
  font-size: 1.5rem;
  font-weight: var(--fw-700);
  margin-bottom: 1.5rem;
  
  @media(min-width: $mobile) {
    --_number-icon-size: 70px;
    border-radius: 1.875rem;
  }
  
  @media (min-width: $tablet) {
    border-radius: 1.875rem;
  }
}

.mainInfo__create {
  --_volunteer-padding-inline: clamp(1.875rem, -3.125rem + 10.4167vw, 6.25rem);

  padding: 3rem 0;
  margin-top: var(--_section-margin);
  background-color: var(--grey-lighter-color);
  text-align: center;
  border-radius: 1.25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(253, 246, 244, 0.9) 0%, rgba(253, 246, 244, 0.9) 100%);
    border-radius: inherit;
  }


  > .row {
    position: relative;
  }

  p {
    font-size: clamp(1.5rem, -0.2143rem + 3.5714vw, 3rem);
    margin-bottom: .6em;
  }

  @media (min-width: $tablet-md) {
    text-align: left;
    border-radius: 1.875rem;

    .btn {
      margin-left: auto;
    }
  }
}