.mainFormWrapper {
	// --_main-form-wrapper-width: 70rem;
  --_form-bg-color: #fff3ed;
  --_form-padding-inline-xl: 2.35rem;
  --_form-padding-inline-md: 1.76rem;
  --_form-padding-inline-sm: 1.17rem;
  --_form-padding-block: 2.05rem;
	--_form-negative-margin: -11.875rem;

  z-index: 5;
	width: 100%;
	margin: var(--_form-negative-margin) auto 0;

	.row {
		--bs-gutter-x: 1rem;
	}

	@media (min-width: 1440px) {
		// --_main-form-wrapper-width: 86.75rem;
	}

	@media (max-width: $mobile-sm) {
		--_form-negative-margin: -15.675rem;
	}

}

.mainForm__wrapper {
	background-color: var(--_form-bg-color);
	padding-inline: var(--_form-padding-inline-sm);
	padding-block: var(--_form-padding-block);
	border-top-right-radius: 1.76rem;
	border-radius: 0 1.76rem 1.76rem 1.76rem;

	.base-input--group {
		margin-bottom: 2rem;

		@media (max-width: 991.98px) {
			margin-bottom: 1rem;
		}
	}

	label {
		font-size: 17px;
	}

	@media (min-width: 768px) {
		// > .base-input--group {
		// 	margin: 0;
		// }
	}

	@media (min-width: 1280px) {
		padding-inline: var(--_form-padding-inline-md);
	}

	@media (min-width: $full) {
		padding-inline: var(--_form-padding-inline-xl);
	}
}

.mainForm {
	.mainForm__btn {
		margin-top: 1.25rem;

		@media (max-width: $mobile) {
			> .btn {
				padding: var(--_btn-padding--sm);
			}
		}
	}

	// Main form date group
	.mainForm-group-multi {
		.base-input--group {
			&:has(label) {
				max-width: fit-content;

				@media (max-width: 1440px) {
					max-width: 100%;
					margin-bottom: 0;
				}
			}

			> .base-input {
				padding: 1rem .75rem;
				text-align: center;

				&::placeholder {
					left: 50%;
					transform: translateX(-50%) translateY(-50%);
					text-align: center;
					padding: 0;
				}
			}

			&.base-input--group-sm {
				max-width: 5rem;
			}

			&.base-input--group-md {
				max-width: 6.5rem;
			}

			&.base-input--group-lg {
				max-width: 12rem;
				.choices__inner {
					padding: var(--_input-padding-block) 1.5rem;

					@media (max-width: $mobile) {
						padding-right: 1rem;
					}
				}
			}

			@media (max-width: 991.98px) {
				&:has(label) {
					grid-column: 1 / -1;
				}

				&.base-input--group-sm,
				&.base-input--group-md,
				&.base-input--group-lg {
					max-width: 100%;
				}
			}
		}

		@media (max-width: 991.98px) {
			.d-grid {
				grid-template-columns: .5fr 1fr .5fr;
			}
		}
	}

	@media (min-width: 768px) {
		.mainForm__btn {
			margin-top: 0;
		}
	}
	@media (min-width: 1280px) {
		.mainForm__btn {
			flex: 0 0 27.333333%;
		}
	}
}
