.volunteer {
  margin-top: var(--_section-margin);
  .volunteer__quote {
    --_volunteer-padding-inline: clamp(1.875rem, -3.125rem + 10.4167vw, 6.25rem);

    padding: var(--_section-padding-block) 0;
    background-color: var(--grey-lighter-color);
    text-align: center;
    border-radius: 1.25rem;

    [class*='icon-'] {
      display: block;
      color: var(--accent-color);
      font-size: 2.1875rem;
      margin-bottom: .6em;
    }

    p {
      font-size: clamp(1.5rem, -0.2143rem + 3.5714vw, 3rem);
      margin-bottom: .6em;
    }

    @media (min-width: $tablet-md) {
      text-align: left;
      border-radius: 1.875rem;

      .btn {
        margin-left: auto;
      }
    }
  }
}