.volunteer {
  margin-top: var(--_section-margin);
  .volunteer__quote {
    --_volunteer-padding-inline: clamp(1.875rem, -3.125rem + 10.4167vw, 4rem);

    padding: var(--_section-padding-block) var(--_volunteer-padding-inline);
    background-color: hsla(var(--accent-hue), var(--accent-saturation), var(--accent-lightness--super-light), 1);
    text-align: center;
    border-radius: 1.25rem;

    [class*='icon-'] {
      display: block;
      color: var(--accent-color);
      font-size: 2.1875rem;
      margin-bottom: .6em;
    }

    p {
      font-size: clamp(1.25rem, -0.2143rem + 3.5714vw, 2rem);
      margin-bottom: .6em;
      font-weight: var(--font-weight-semibold);
    }

    @media (min-width: $tablet-md) {
      text-align: left;
      border-radius: 1.875rem;

      .btn {
        margin-left: auto;
      }
    }
  }
}