@import "breakpoints";

.dropdown {
  --_dropdown-radius: 0.625rem;
  width: 100%;
	background: hsl(var(--accent-hue), var(--accent-saturation), var(--accent-lightness--lighter));
  border-radius: var(--_dropdown-radius);
  overflow: hidden;
  &[data-dropdown] {
    position: absolute;
    top: 100%;
    transition: opacity 0.25s, transform 0.25s, visibility 0.25s;
    opacity: 0;
    visibility: hidden;
    transform: translateY(1.25rem);

    &.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0.875rem);
      z-index: 1001;
    }
  }

  .dropdown--link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: var(--black-color);
    text-align: center;
    text-decoration: none;
    transition: background-color 0.25s, color 0.25s;

    &.active {
      background: var(--accent-color);
      color: var(--white-color);
    }

    @media (any-hover: hover) {
      &:hover {
        background: var(--accent-color);
        color: var(--white-color);
      }
    }

    img {
      margin-right: 0.75rem;
    }

  }

  @media (min-width: $tablet) {
    --_dropdown-radius: 1.25rem;
  }

  @media (min-width: $tablet) {
    --_dropdown-radius: 1.875rem;
  }
}

.choices__list--dropdown, 
.choices__list[aria-expanded] {
  border: none;
  border-radius: var(--_dropdown-radius);

  background-color: hsl(var(--accent-hue), var(--accent-saturation), var(--accent-lightness--super-light));
  // padding-top: 1rem;
  z-index: 3;
  cursor: initial;

  .choices__list {
    padding: 1.7rem 0;

    .simplebar-track.simplebar-vertical {
      background: hsla(14, 88%, 93%, 1);
      right: 0.8125rem;
      height: calc(100% - 30px);
      top: 50%;
      transform: translateY(-50%);
      border-radius: 30px;
      width: .5rem;
    }
    
    .simplebar-scrollbar:before {
      background: hsl(var(--accent-hue), var(--accent-saturation), 67%);
      opacity: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  .choices__placeholder {
    display: none;
  }

  .choices__item {
    font-size: 1.5rem;

    padding: 1rem 1.5rem;

    &.is-highlighted {
      background-color: var(--accent-color);
      color: var(--white-color);
    }

    &.has-no-results {
      padding: 0 1.5rem;
      color: var(--_input-placeholder-color);
      font-size: var(--_input-placeholder-font-size);
      font-weight: var(--fw-400);
    }
  }

}
