// Main Typography Styles

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: var(--fw-700);
  color: var(--black-color);
  margin-bottom: 0.7em;
  line-height: 1.3;


  a {
    display: inline;
    text-decoration: underline;
    color: var(--blue-color);
    transition: color 0.25s;

    @media (any-hover: hover) {
      &:hover {
        color: var(--accent-color);
      }
    }
  }
}

p {
  a {
    display: inline;
    text-decoration: underline;
    color: var(--blue-color);
    transition: color 0.25s;

    @media (any-hover: hover) {
      &:hover {
        color: var(--accent-color);
      }
    }
  }
}

h1,
.h1 {
  // 64px - 36px
  font-size: clamp(2.25rem, 0.25rem + 4.1667vw, 4rem);
}

h2,
.h2 {
  // 46px - 32px
  font-size: clamp(2rem, 1rem + 2.0833vw, 2.875rem);
}

h3,
.h3 {
  // 36px - 24px
  font-size: clamp(1.5rem, 0.6429rem + 1.7857vw, 2.25rem);
}

h4,
.h4 {
  // 32px - 22px
  font-size: clamp(1.375rem, 0.6607rem + 1.4881vw, 2rem);
}

h5,
.h5 {
  // 24px - 20px
  font-size: clamp(1.25rem, 0.9643rem + 0.5952vw, 1.5rem);
}

h6,
.h6 {
  font-size: 18px;
}

p {
  // 20px - 18px
  font-size: clamp(1.125rem, 0.9821rem + 0.2976vw, 1.25rem);
  line-height: 1.2;
}


.text-accent {
  color: hsl(var(--accent-hue), var(--accent-saturation), var(--accent-lightness));

  .text-accent--lighter {
    color: hsl(var(--accent-hue), var(--accent-saturation), var(--accent-lightness--lighter));
  }
}

.link--underline {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--text-color-underline);
  letter-spacing: 0.15em;
  transition: 0.25s;

  &.text-accent {
    text-decoration-color: hsl(var(--accent-hue), var(--accent-saturation), 56%);
  }

  @media (any-hover: hover) {
		&:hover {
      color: var(--accent-color);
      text-decoration-color: var(--accent-color);

      &.text-accent {
        color: hsl(var(--accent-hue), var(--accent-saturation), 66%);
        text-decoration-color: hsl(var(--accent-hue), 66%);
      }
		}
	}

}

.icon-accent {
  color: var(--accent-color);
}