//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	// -webkit-appearance: none;
	// -moz-appearance: none;
	appearance: none;
}
.promo__input,
.promoPopup__input {
	width: 100%;
	display: block;
	padding: 0px 20px;
	border: 1px solid #eee;
	&._form-focus {
	}
	&._form-error {
	}
}
.promo__input[placeholder]:not([data-placeholder-nohiden]) {
	&::placeholder {
		transition: opacity 0.3s;
	}
	&:focus::placeholder {
		opacity: 0;
	}
}
.promoPopup__input[placeholder]:not([data-placeholder-nohiden]) {
	&::placeholder {
		transition: opacity 0.3s;
	}
	&:focus::placeholder {
		opacity: 0;
	}
}
.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 0px 20px;
	border: 1px solid #eee;
	&._form-focus {
	}
	&._form-error {
	}
}
.input[placeholder]:not([data-placeholder-nohiden]) {
	&::placeholder {
		transition: opacity 0.3s;
	}
	&:focus::placeholder {
		opacity: 0;
	}
}

textarea.base-input {
	resize: none;
	padding: 0px 0px;
	height: auto;
}


// New Styles

.base-input--group {
	--input-height: 4.375rem;
	position: relative;
	// margin-top: 0.625rem;
	margin-bottom: 1.5rem;
	width: 100%;

	@media (max-width: $mobile) {
		margin-bottom: 1rem;
		--input-height: 3.375rem;
	}

	> .select-dropdown {
		width: 100%;
		max-width: 100%;
		margin-bottom: 0;

		.choices__inner.has-icons {
			.choices__placeholder {
				padding-left: 0;
				padding-right: 0;
			}
			.choices__item:not(.choices__placeholder),  
			.choices__item--selectable,
			.choices__list--single {
				padding-left: 0;
				padding-right: 0;
			}
		}

		.choices__inner {
			&.has-icon--left {
				padding-left: var(--_input-icon-padding-left);
			}

			&.has-icon--right {
				padding-right: var(--_input-icon-padding-right);
			}

		}

	}

	[class*=icon-]:not(.icon-arrow-down) {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: var(--_input-icon-position);
		color: var(--accent-color);
		font-size: 1.5rem;

		@media (min-width: $mobile) {
			// font-size: 1.25rem;
			// --_input-icon-left: 1.6rem;
		}

		@media (min-width: $tablet) {
			// font-size: 1.5rem;
			// --_input-icon-left: 2rem;
		}
	}

	> label {
		font-size: 1.05rem;
	}

	> .errMsg {
		position: absolute;
		color: rgb(255, 0, 0);
		top: calc(100% + 3px);
		left: 50%;
		transform: translateX(-50%);
		min-width: max-content;
		font-size: .75rem;

	}

	@media (min-width: 1280px) {
		margin-top: 0;
	}
}

.input--group-multi {

	> label {

		font-size: 0.75rem;

		margin-top: 1rem;
		margin-bottom: .5rem;
		display: block;

		@media (min-width: 768px) {
			font-size: 1.05rem;
			margin-top: 0;
		}

	}
}

.base-input {
	min-width: auto;
	width: 100%;
	padding: var(--_input-padding-block) var(--_input-padding-inline);
	border-radius: var(--_input-border-radius);
	border: 0.0625rem solid var(--_input-border-color);
	background: var(--white-color);
	color: var(--black-color);
	font-size: var(--_input-font-size);
	font-weight: var(--fw-700);
	line-height: 1;
	display: block;
	height: var(--input-height);

	&::placeholder {
		transition: opacity 0.3s;
	}
	&:focus::placeholder {
		opacity: 0;
	}

	&.base-input--password {
		padding-right: 5rem;
	}

	&.base-input--sm {
		height: 3.375rem;
	}

	&._form-focus,
	&:focus,
	&:active,
	&:focus-visible {
		border: 0.0625rem solid var(--accent-color);
		outline-color: transparent;
		outline-width: 0;
	}

	&::placeholder {
		color: var(--_input-placeholder-color);
		font-size: var(--_input-placeholder-font-size);
		font-weight: var(--fw-400);
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		white-space:pre-line;
		padding-right: 2rem;
	}

	&.has-icon {
		padding-left: var(--_input-icon-padding-left);
	}

	@media (max-width: $mobile) {
		font-size: var(--_input-font-size--sm);
		font-size: 1rem;

		&::placeholder {
			font-size: 1rem;
		}
	}
}

.choices[data-type*=select-one] .choices__input {
	background-color: hsl(var(--accent-hue), var(--accent-saturation), var(--accent-lightness--super-light));
	border-bottom: 1px solid hsl(var(--accent-hue), var(--accent-saturation), var(--accent-lightness--lighter));
	padding: 1rem 1.5rem;
	color: var(--black-color);
	font-size: var(--_input-font-size);
	font-weight: var(--fw-700);

	&::placeholder {
		color: var(--_input-placeholder-color);
		font-size: var(--_input-placeholder-font-size);
		font-weight: var(--fw-400);
	}
}