// Select base styles

.select-dropdown {
  position: relative;
  max-width: 440px;
  width: 100%;
	text-align: left;

	&.is-flipped.is-open .choices__inner {
		border-radius: var(--_dropdown-radius);
	}
  
  &.is-open {
    .choices__inner {
      border-color: var(--accent-color);
      background-color: hsl(var(--accent-hue), var(--accent-saturation), var(--accent-lightness--super-light));
      > [class*=icon-] {
        &:last-child {
          transform: rotate(180deg);
        }
      }
    }
    
    .choices__list--dropdown {
      opacity: 1;
      visibility: visible;
      transform: translateY(1.5rem);
    }

		&.is-flipped {
			.choices__list--dropdown {
				--_dropdown-shadow-y: -30px;
				transform: translateY(-1.5rem);
				border-radius: var(--_dropdown-radius);
			}
		}
  }

  @media (any-hover: hover) {
    &:hover {
      .choices__inner {
        border-color: var(--accent-color);
        background-color: hsl(var(--accent-hue), var(--accent-saturation), var(--accent-lightness--super-light));
      }
    }
  }

  &::after {
    display: none;
  }

  .choices__inner {
    display: inline-flex;
    align-items: center;
    padding: var(--_input-padding-block) var(--_input-padding-inline);
    padding-bottom: var(--_input-padding-block) !important;
    height: var(--input-height);
    border-radius: var(--_dropdown-radius);
    border-color: hsla(0, 0%, 69%, 1);
    background-color: var(--white-color);
    transition: border-color 0.25s, background-color 0.25s;


    > [class*=icon-] {
      color: var(--accent-color);
      font-size: 1.5rem;

      &:last-child {
        transition: transform 0.25s;
      }

			@media (max-width: $mobile) {
				font-size: 1.25rem;
			}
    }
    > .choices__list {
      > .choices__item:not(.choices__placeholder) {
        color: var(--black-color);
        font-size: var(--_input-font-size);
        font-weight: var(--fw-700);

				@media (max-width: $mobile) {
					font-size: 1rem;
				}
      }
    }

    &.has-icons {
      > .choices__item:not(.choices__placeholder),
      .choices__item--selectable {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }

  .choices__placeholder {
    color: var(--_input-placeholder-color);
		font-size: var(--_input-placeholder-font-size);
		font-weight: var(--fw-400);
		opacity: 1;
  }

  .choices__list--dropdown {
    opacity: 0;
    visibility: hidden;
    transform: translateY(2.5rem);
    transition: opacity 0.25s, visibility 0.25s, transform 0.25s;
		box-shadow: var(--_dropdown-shadow);
		min-width: 15rem;
  }

}

// <SELECT>
// Сніппет (HTML): sel
// .select {
// 	min-width: 0;
// 	position: relative;
// 	// .select__body
// 	&__body {
// 		position: relative;
// 	}
// 	// .select__title
// 	&__title {
// 		color: inherit;
// 		text-align: left;
// 		border-radius: 1.25rem;
// 		border: 0.0625rem solid var(--orange-color);
// 		background: #FFF;
// 		cursor: pointer;
// 		width: 100%;
// 		color: var(--text-color-black);
// 		font-size: 1rem;
// 		font-style: normal;
// 		font-weight: var(--fw-700);
// 		padding: 1.0625rem 0 1.0625rem 1.25rem;
// 	}
// 	// .select__value
// 	&__value {
// 		display: flex;
// 		min-width: 0;
// 		align-items: center;
// 		height: toRem(30);
// 		padding: 0 1.25rem 0 0;
// 		gap: toRem(10);
// 		> * {
// 			flex: 1 1 auto;
// 		}
// 		&:after {
// 			content: url("img/select-arrow.svg");
// 			align-self: stretch;
// 			flex: 0 0 0.625rem;
// 			transition: all 0.3s ease 0s;
// 			display: flex;
// 			justify-content: center;
// 			align-items: center;
// 			._select-open & {
// 				transform: rotate(-180deg);
// 			}
// 		}
// 		&._select-pseudo-label {
// 			&::before {
// 				content: attr(data-pseudo-label);
// 				opacity: 0.5;
// 			}
// 		}
// 	}
// 	// .select__content
// 	&__content {
// 		flex: 1 1 auto;
// 		overflow: hidden;
// 		text-overflow: ellipsis;
// 		white-space: nowrap;
// 	}
// 	// .select__text
// 	&__text {
// 		flex: 1 1 auto;
// 		overflow: hidden;
// 		text-overflow: ellipsis;
// 		white-space: nowrap;
// 	}
// 	&__input {
// 		width: 100%;
// 		background-color: transparent;
// 		height: 100%;
// 	}
// 	// .select__options
// 	&__options {
// 		border-radius: 1.25rem;
// 		border: 0.0625rem solid var(--orange-color);
// 		color: var(--text-color-black);
// 		font-size: 1rem;
// 		font-style: normal;
// 		font-weight: var(--fw-700);
// 		position: absolute;
// 		top: calc(100% + 1.25rem);
// 		min-width: 100%;
// 		left: 0;
// 		background-color: #fff;
// 		padding: 0.625rem 0rem 0.3125rem 0rem;
// 	}
// 	// .select__scroll
// 	&__scroll {
// 		overflow-y: auto;
// 		overflow-x: hidden;
// 		// Максимальна висота
// 		max-height: toRem(200);
// 		// Стилі скроллбару
// 		.simplebar-scrollbar {
// 			&::before {
// 				//opacity: 1;
// 			}
// 		}
// 	}
// 	// .select__option
// 	&__option {
// 		width: 100%;
// 		text-align: left;
// 		cursor: pointer;
// 		padding: 0.3125rem 0.9375rem;
// 		color: inherit;
// 		&._select-selected {
// 			background-color: #eee;
// 		}
// 		@media (any-hover: hover) {
// 			&:hover {
// 				background: #d9d9d9;
// 			}
// 		}
// 	}

// 	// Конструкція додаткових даних
// 	&__row {
// 		display: inline-flex;
// 		align-items: center;
// 	}
// 	&__asset {
// 	}
// 	&__text {
// 	}

// 	&--show-top {
// 		.select__options {
// 			top: auto;
// 			bottom: calc(100% + 1.25rem);
// 			border-bottom: 0;
// 			border-radius: 1.25rem;
// 			border: 0.0625rem solid var(--orange-color);
// 			color: var(--text-color-black);
// 		}
// 	}

// 	// Стан селекту
// 	&._select-open {
// 	}
// 	&._select-disabled {
// 	}
// 	&._select-active {
// 	}
// 	&._select-focus {
// 	}
// 	&._select-multiple {
// 	}
// 	&._select-checkbox {
// 	}
// }

.select {
	
	.select__title {
		position: relative;

		&.has--icon {

			// .select__content,
			// .select__input {
			// 	padding-left: var(--_input-icon-padding-left);
			// 	padding-right: var(--_input-icon-padding-left);
			// }

			.select__value {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}

		}

		.select__icon {
			// position: absolute;
			// top: 50%;
			// transform: translateY(-50%);
			[class*=icon-] {
				transform: rotate(0deg);
				transform-origin: center center;
				color: var(--accent-color);
				font-size: 1.5rem;
				transition: transform 0.25s;
				display: block;
			}

			&:first-of-type {
				left: var(--_input-icon-position);
			}

			&:last-of-type {
				right: var(--_input-icon-position);
			}

		}

	}

	&._select-open {
		.select__value {
			.select__icon {
				&:last-of-type {
					[class*=icon-] {
						transform: rotate(180deg);
					}
				}
			}
		}
	
	}


	&._select-focus,
		

	.select__body {
		position: relative;
	}

	.select__options {
		background: hsl(var(--accent-hue), var(--accent-saturation), var(--accent-lightness--super-light));

		border-radius: 30px;
		transform: translateY(2rem);

		position: absolute;
		top: 100%;
		width: 100%;
		.simplebar-content {
			display: flex;
			flex-direction: column;
		}
		
		// .select__scroll {
		// 	height: auto;
		// 	max-height: auto;
		// }

		.select__option {
			padding-inline: 2rem;
			padding-block: 1rem;
			font-size: 1.5rem;
		}
	}

}

.select__scroll {
	display: flex;
	flex-direction: column;
}

// blog selector
.select_blogTags {
	min-width: 0;
	position: relative;
	width: 20rem;
	margin: 1.25rem 0 0 0;
	@media screen and (min-width: $pc) {
		margin: 0;
	}
	.select__body {
		position: relative;
	}
	.select__title {
		color: inherit;
		text-align: left;
		border-radius: 1.25rem;
		border: 0.0625rem solid var(--orange-color);
		background: #FFF;
		cursor: pointer;
		width: 100%;
		color: var(--text-color-black);
		font-size: 1rem;
		font-style: normal;
		font-weight: var(--fw-700);
		padding: 0 0 0 1.25rem;
		height: 3.375rem;
		@media screen and (min-width: $pc) {
			height: 4.375rem;
			border-radius: 1.875rem;
			padding: 0 0 0 2.8125rem;
			font-size: 1.5rem;
		}
	}
	.select__value {
		display: flex;
		min-width: 0;
		align-items: center;
		height: toRem(30);
		padding: 0 1.25rem 0 0;
		gap: toRem(10);
		> * {
			flex: 1 1 auto;
		}
		&:after {
			content: url("../img/select-arrow.svg");
			align-self: stretch;
			flex: 0 0 0.625rem;
			transition: all 0.3s ease 0s;
			display: flex;
			justify-content: center;
			align-items: center;
			._select-open & {
				transform: rotate(-180deg);
			}
		}
		&._select-pseudo-label {
			&::before {
				content: attr(data-pseudo-label);
				opacity: 0.5;
			}
		}
	}
	.select__content {
		flex: 1 1 auto;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-size: 1rem;
		font-weight: var(--fw-700);
		@media screen and (min-width: $pc) {
			font-size: 24px;
		}
	}
	.select__text {
		flex: 1 1 auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.select__text {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	.select__options {
		border-radius: 0.625rem;
		color: var(--text-color-black);
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 400;
		position: absolute;
		top: calc(100% + 25px);
		min-width: 100%;
		left: 0;
		box-shadow: 0 20px 46px 0 rgba(229, 87, 56, 0.4);
		background: #fff3ed;
		@media screen and (min-width: $pc) {
			font-size: 1.5rem;
		}
	}
	.select__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		// Максимальна висота
		max-height: toRem(200);
		// Стилі скроллбару
		.simplebar-scrollbar {
			&::before {
				//opacity: 1;
			}
		}
	}
	.select__option {
		width: 100%;
		text-align: left;
		cursor: pointer;
		padding: 0 1.25rem;
		height: 2.75rem;
		color: inherit;
		&._select-selected {
			background-color: #eee;
		}
		@media (any-hover: hover) {
			&:hover {
				background: #e55738;
				color: var(--white-color);
			}
			&:hover:first-child {
				border-top-right-radius: 0.625rem;
				border-top-left-radius: 0.625rem;
			}
			&:hover:last-child {
				border-bottom-right-radius: 0.625rem;
				border-bottom-left-radius: 0.625rem;
			}
		}
	}

	// Конструкція додаткових даних
	.select__row {
		display: inline-flex;
		align-items: center;
	}
	.select__asset {
	}
	.select__text {
	}

	// Стан селекту
	&._select-open {
		.select__value:after {
			transform: rotate(-180deg);
		}
	}
	&._select-disabled {
	}
	&._select-active {
	}
	&._select-focus {
	}
	&._select-multiple {
	}
	&._select-checkbox {
	}
}

.select_blogTags.select--show-top {
	.select__options {
		top: auto;
		bottom: calc(100% + 1.25rem);
		border-bottom: 0;
		border-radius: 1.25rem;
		color: var(--text-color-black);
	}
}

// news selector
.select_newsTags {
	min-width: 0;
	max-width: 8rem;
	position: relative;
	margin: 1.25rem 0 0 0;
	@media (min-width: $pc) {
		margin: 0;
		max-width: 12.625rem;
	}
	.select__body {
		position: relative;
	}
	.select__title {
		color: inherit;
		text-align: left;
		border-radius: 1.25rem;
		border: 0.0625rem solid var(--orange-color);
		background: #FFF;
		cursor: pointer;
		width: 100%;
		color: var(--text-color-black);
		font-size: 1rem;
		font-style: normal;
		font-weight: var(--fw-700);
		padding: 0 0 0 1.25rem;
		height: 3.375rem;
		@media screen and (min-width: $pc) {
			height: 4.375rem;
			border-radius: 1.875rem;
			padding: 0 0 0 2.8125rem;
			width: 200px;
			font-size: 1.5rem;
		}
	}
	.select__value {
		display: flex;
		min-width: 0;
		align-items: center;
		height: toRem(30);
		padding: 0 1.25rem 0 0;
		gap: toRem(10);
		> * {
			flex: 1 1 auto;
		}
		&:after {
			content: url("../img/select-arrow.svg");
			align-self: stretch;
			flex: 0 0 0.625rem;
			transition: all 0.3s ease 0s;
			display: flex;
			justify-content: center;
			align-items: center;
			._select-open & {
				transform: rotate(-180deg);
			}
		}
		&._select-pseudo-label {
			&::before {
				content: attr(data-pseudo-label);
				opacity: 0.5;
			}
		}
	}
	.select__content {
		flex: 1 1 auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin-right: 1.5rem;
	}
	.select__text {
		flex: 1 1 auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.select__text {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	.select__options {
		border-radius: 0.625rem;
		color: var(--text-color-black);
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 400;
		position: absolute;
		top: calc(100% + 25px);
		min-width: 100%;
		left: 0;
		box-shadow: 0 20px 46px 0 rgba(229, 87, 56, 0.4);
		background: #fff3ed;
		@media screen and (min-width: $pc) {
			font-size: 1.5rem;
		}
	}
	.select__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		// Максимальна висота
		max-height: toRem(200);
		// Стилі скроллбару
		.simplebar-scrollbar {
			&::before {
				//opacity: 1;
			}
		}
	}
	.select__option {
		width: 100%;
		text-align: left;
		cursor: pointer;
		padding: 0 1.25rem;
		height: 2.75rem;
		color: inherit;
		&._select-selected {
			background-color: #eee;
		}
		@media (any-hover: hover) {
			&:hover {
				background: #e55738;
				color: var(--white-color);
			}
			&:hover:first-child {
				border-top-right-radius: 0.625rem;
				border-top-left-radius: 0.625rem;
			}
			&:hover:last-child {
				border-bottom-right-radius: 0.625rem;
				border-bottom-left-radius: 0.625rem;
			}
		}
	}

	// Конструкція додаткових даних
	.select__row {
		display: inline-flex;
		align-items: center;
	}
	.select__asset {
	}
	.select__text {
	}

	// Стан селекту
	&._select-open {
		.select__value:after {
			transform: rotate(-180deg);
		}
	}
	&._select-disabled {
	}
	&._select-active {
	}
	&._select-focus {
	}
	&._select-multiple {
	}
	&._select-checkbox {
	}
}
	
.select_newsTags.select--show-top {
	.select__options {
		top: auto;
		bottom: calc(100% + 1.25rem);
		border-bottom: 0;
		border-radius: 1.25rem;
		color: var(--text-color-black);
	}
}

// Contact selector
.select_contactTags {
	min-width: 0;
	position: relative;
	width: 100%;
	@media (min-width: $mobile) {
	}
	@media (min-width: $tablet) {
	}
	@media (min-width: $pc) {
	}
	@media (min-width: $full) {
	}
	.select__body {
		display: flex;
		position: relative;
	}
	.select__title {
		color: inherit;
		text-align: left;
		border-radius: 1.25rem;
		border: 0.0625rem solid var(--orange-color);
		background: #FFF;
		cursor: pointer;
		width: 100%;
		max-width: 31.25rem;
		color: var(--text-color-black);
		font-size: 1.125rem;
		font-style: normal;
		font-weight: var(--fw-700);
		padding: 1rem 0 1rem 1.5rem;
		@media (min-width: $mobile) {
		}
		@media (min-width: $tablet) {
		}
		@media (min-width: $pc) {
			font-size: 1.5rem;
			border-radius: 2.5rem;
			padding: 1.4375rem 0 1.4375rem 2rem;
		}
		@media (min-width: $full) {
			border: 0.0625rem solid #ec6041;
			padding: 1.5625rem 0 1.5625rem 60px;
		}
	}
	.select__value {
		display: flex;
		min-width: 0;
		align-items: center;
		height: toRem(30);
		padding: 0 1.25rem 0 0;
		gap: toRem(10);
		> * {
			flex: 1 1 auto;
		}
		&:after {
			content: url("../img/select-arrow.svg");
			align-self: stretch;
			flex: 0 0 0.625rem;
			transition: all 0.3s ease 0s;
			display: flex;
			justify-content: center;
			align-items: center;
			._select-open & {
				transform: rotate(-180deg);
			}
		}
		&._select-pseudo-label {
			&::before {
				content: attr(data-pseudo-label);
				opacity: 0.5;
			}
		}
	}
	.select__content {
		flex: 1 1 auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;	
		font-size: 1.125rem;
		font-weight: var(--fw-700);
		@media (min-width: $mobile) {
		}
		@media (min-width: $tablet) {
		}
		@media (min-width: $pc) {
			font-size: 1.25rem;
		}
		@media (min-width: $full) {
			font-size: 1.5rem;
		}
	}
	.select__text {
		flex: 1 1 auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.select__text {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	.select__options {
		border-radius: 0.625rem;
		color: var(--text-color-black);
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 400;
		position: absolute;
		top: calc(100% + 25px);
		min-width: 100%;
		left: 0;
		box-shadow: 0 20px 46px 0 rgba(229, 87, 56, 0.4);
		background: #fff3ed;
		@media screen and (min-width: $pc) {
			font-size: 1.5rem;
			width: 21.875rem;
		}
	}
	.select__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		// Максимальна висота
		max-height: toRem(200);
		// Стилі скроллбару
		.simplebar-scrollbar {
			&::before {
				//opacity: 1;
			}
		}
	}
	.select__option {
		width: 100%;
		text-align: left;
		cursor: pointer;
		padding: 0 1.25rem;
		height: 2.75rem;
		color: inherit;
		&._select-selected {
			background-color: #eee;
		}
		@media (any-hover: hover) {
			&:hover {
				background: #e55738;
				color: var(--white-color);
			}
			&:hover:first-child {
				border-top-right-radius: 0.625rem;
				border-top-left-radius: 0.625rem;
			}
			&:hover:last-child {
				border-bottom-right-radius: 0.625rem;
				border-bottom-left-radius: 0.625rem;
			}
		}
	}

	// Конструкція додаткових даних
	.select__row {
		display: inline-flex;
		align-items: center;
	}
	.select__asset {
	}
	.select__text {
	}

	// Стан селекту
	&._select-open {
		.select__value:after {
			transform: rotate(-180deg);
		}
	}
	&._select-disabled {
	}
	&._select-active {
	}
	&._select-focus {
	}
	&._select-multiple {
	}
	&._select-checkbox {
	}
}

.select_contactTags.select--show-top {
	.select__options {
		top: auto;
		bottom: calc(100% + 1.25rem);
		border-bottom: 0;
		border-radius: 1.25rem;
		color: var(--text-color-black);
	}
}

// Тег
._select-tag {
	cursor: pointer;
}
