@font-face {
	font-family: cretype ;
	font-display: swap;
	src: url("../fonts/cretype - Segaon Black.woff2") format("woff2"), url("../fonts/cretype - Segaon Black.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: cretype ;
	font-display: swap;
	src: url("../fonts/cretype - Segaon ExtraBold Italic.woff2") format("woff2"), url("../fonts/cretype - Segaon ExtraBold Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: cretype ;
	font-display: swap;
	src: url("../fonts/cretype - Segaon ExtraBold.woff2") format("woff2"), url("../fonts/cretype - Segaon ExtraBold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: cretype ;
	font-display: swap;
	src: url("../fonts/cretype - Segaon ExtraLight Italic.woff2") format("woff2"), url("../fonts/cretype - Segaon ExtraLight Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: cretype ;
	font-display: swap;
	src: url("../fonts/cretype - Segaon ExtraLight.woff2") format("woff2"), url("../fonts/cretype - Segaon ExtraLight.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: cretype ;
	font-display: swap;
	src: url("../fonts/cretype - Segaon Heavy.woff2") format("woff2"), url("../fonts/cretype - Segaon Heavy.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: cretype ;
	font-display: swap;
	src: url("../fonts/cretype - Segaon Italic.woff2") format("woff2"), url("../fonts/cretype - Segaon Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: cretype ;
	font-display: swap;
	src: url("../fonts/cretype - Segaon Heavy Italic.woff2") format("woff2"), url("../fonts/cretype - Segaon Heavy Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: cretype ;
	font-display: swap;
	src: url("../fonts/cretype - Segaon Light Italic.woff2") format("woff2"), url("../fonts/cretype - Segaon Light Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: cretype ;
	font-display: swap;
	src: url("../fonts/cretype - Segaon Medium Italic.woff2") format("woff2"), url("../fonts/cretype - Segaon Medium Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: cretype ;
	font-display: swap;
	src: url("../fonts/cretype - Segaon Medium.woff2") format("woff2"), url("../fonts/cretype - Segaon Medium.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: cretype ;
	font-display: swap;
	src: url("../fonts/cretype - Segaon Light.woff2") format("woff2"), url("../fonts/cretype - Segaon Light.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: cretype ;
	font-display: swap;
	src: url("../fonts/cretype - Segaon Thin.woff2") format("woff2"), url("../fonts/cretype - Segaon Thin.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: cretype ;
	font-display: swap;
	src: url("../fonts/cretype - Segaon Thin Italic.woff2") format("woff2"), url("../fonts/cretype - Segaon Thin Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: font (1);
	font-display: swap;
	src: url("../fonts/font (1).woff2") format("woff2"), url("../fonts/font (1).woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: cretype ;
	font-display: swap;
	src: url("../fonts/cretype - Segaon Bold Italic.woff2") format("woff2"), url("../fonts/cretype - Segaon Bold Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: cretype ;
	font-display: swap;
	src: url("../fonts/cretype - Segaon Bold.woff2") format("woff2"), url("../fonts/cretype - Segaon Bold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
