.blog {
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 4.375rem;
		@media (min-width: $pc) {
			margin-bottom: 8.75rem;
			max-width: 78.125rem;
		}
		@media (min-width: $full) {
			margin-bottom: 13.75rem;
			max-width: 92.5rem;
		}
	}
	&__header {		
		margin: 4.375rem 0 0 0;	
		display: flex;
		flex-direction: column;	
		width: 100%;
		position: relative;
		@media (min-width: $mobile) {
			max-width: 31.25rem;
			align-self: center;
		}
		@media (min-width: $pc) {
			max-width: 100%;
			margin: 7.5rem 0 0 0;	
		}
		@media (min-width: $full) {
			margin: 12.5rem 0 0 0;	
		}
	}
	&__title {
		text-align: center;
		font-size: 2.25rem;
		font-style: normal;
		font-weight: 600;
		line-height: 110%; /* 39.6px */
		color: var(--text-color-black);
		@media (min-width: $pc) {
			font-size: 3.125rem;
			text-align: start;
		}
		@media (min-width: $full) {
			font-size: 4rem;
		}
	}
	&__descr {
		text-align: center;
		font-size: 1rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		color: var(--text-color-black);
		margin: 1.25rem 0 0 0;
		@media (min-width: $pc) {
			font-size: 1.5rem;
			text-align: start;
			line-height: 140%;
		}
		@media (min-width: $full) {
			font-size: 1.875rem;
			margin: 2.5rem 0 0 0;
		}
	}
	&__selector {
		display: flex;
		justify-content: center;
		@media (min-width: $pc) {
			position: absolute;
			right: 0;
			margin: 0;
		}
	}
	&__contentItem {

	}
	&__content {
		margin: 1.875rem 1.25rem 0 1.25rem;
		display: grid;
		grid-template-columns: 1fr;
		gap: 2.5rem;
		@media (min-width: $mobile) { 
			grid-template-columns: 1fr 1fr;
			gap: 2.5rem;
		}
		@media (min-width: $pc) {
			margin: 4.375rem 0 0 0;
			grid-template-columns: 1fr 1fr 1fr;
			gap: 2.5rem 3.75rem;
		}
		@media (min-width: $full) {
			gap: 5rem 8.75rem;
		}
	}
	&__contentItem {
		display: flex;
		flex-direction: column;
	}
	&__itemImg {
		overflow: hidden;
		flex-shrink: 0;
		border-radius: 1.25rem;
		width: 19.25rem;
		height: 12.5rem;
		@media (min-width: $pc) {
			border-radius: 1.875rem;
			width: 23.625rem;
			height: 16.375rem;
		}
		@media (min-width: $full) {
			width: 25.125rem;
			height: 17.375rem;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		picture {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__itemDate {
		margin: 1.25rem 0 0 0;
		text-align: center;
		span {
			font-size: 0.875rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			@media (min-width: $pc) {
				font-size: 1.125rem;
			}
			@media (min-width: $full) {
				font-size: 1.25rem;
			}
		}
	}
	&__itemTitle {
		margin: 10px 0 0 0;
		color: var(--text-color-black);
		text-align: center;
		h4 {
			font-family: var(--font-family);
			font-weight: 700;
			font-size: 22px;
			text-decoration: underline;
			text-decoration-skip-ink: none;
			text-align: center;
			color: #171717;
			@media (min-width: $pc) {
				font-size: 24px;
			}
			@media (min-width: $full) {
				font-size: 32px;
			}
		}
	}	
}
