.blog {
	&__container {
		display: flex;
		flex-direction: column;
		align-items: start;
	}
	&__header {				
	}
	&__title {
		margin-top: 15.625rem;
		font-size: 4rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		color: var(--text-color-black);
	}
	&__descr {
		margin-top: 2.8125rem;
		font-size: 1.875rem;
		font-style: normal;
		font-weight: 400;
		line-height: 140%; /* 42px */
		color: var(--text-color-black);
	}
	&__tags {
		margin-top: 4.375rem;
		display: flex;
		flex-direction: row;
		gap: 1.875rem;
	}
	.tagBtn {
		padding: 1.25rem 3.4375rem;
		border-radius: 1.875rem;
		border: 0.0625rem solid #EC6041;
	}
	.tagBtn:hover {
		color: var(--white-color);
	  background: linear-gradient(180deg, #EF6446 0%, #DB4A2A 100%);
	}
	&__content {
		margin-top: 4.6875rem;
		display: grid;
		grid-template-columns: 3fr 3fr 3fr;
		grid-template-rows: 3fr 3fr 3fr;
		gap: 5rem 8.75rem;
	}
	&__contentItem {
	}	
	&__itemBox {
		border-radius: 1.875rem;
		overflow: hidden;
		max-width: 25rem;
		max-height: 17.5rem;
		flex-shrink: 0;
		img {
			width: 100%;
		}
	}
	&__itemDescr {
		margin-top: 3.75rem;		
		font-size: 2rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		color: var(--text-color-black);
	}	
}
