.cabinet {
}
.cabinet__container {	
	margin: 54px 50px 200px 80px;
}
.tabs {
	display: flex;
}
.tabs__navigation {
	display: flex;
	flex-direction: column;
	border: solid 1px #EC6041;	
	border-radius: 30px;
	overflow: hidden;
}
.tabs__title {
	color: var(--text-color-black);
	border: solid 1px #F5BFB4;	
	padding: 40px 200px 40px 100px;	
	font-size: 28px;
	font-weight: 400;
	line-height: 34px;
	letter-spacing: 0em;
	text-align: left;
	cursor: pointer;
}
._tab-active {
	color: var(--orange-color);
	font-size: 28px;
	font-weight: 600;
	line-height: 34px;
	letter-spacing: 0em;
	text-align: left;
}
.tabs__content {
}
.tabs__body {
}