// Заголовки, загальні БЕМ блоки та інше...
.wrapper {    
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--white-color)
}

// for the errors
.show_errorMsg {
    display:flex!important;
}