// Заголовки, загальні БЕМ блоки та інше...
.wrapper {    
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--white-color)
}

.colorWhite {
	color: #ffffff!important;
}

// for the errors
.show_errorMsg {
    display:flex!important;
}

.validationError {
}

// стиль пагинации
.pagging {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 3.125rem 0 0 0;
	align-self: center;
	gap: 1.25rem;
	// .pagging__arrow
	@media (min-width: $pc) {
		gap: 3.75rem;
		margin: 6.875rem 0 0 0;
	}
	@media (min-width: $full) {
		margin: 12.5rem 0 0 0;
	}
	&__arrow {
		width: 2.125rem;
		height: 2.125rem;
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 0.875rem;
		border: 0.0625rem solid var(--orange-color);
		transition: .25s;
		@media (min-width: $pc) {
			width: 4.375rem;
			height: 4.375rem;
			border-radius: 1.875rem;
		}
		svg {
			transition: .25s;
			width: 0.6953rem;
			height: 0.425rem;
			flex-shrink: 0;
			@media (min-width: $pc) {
				width: 1.4314rem;
				height: 0.875rem;
			}
		}
	}
	&__arrow:hover {
		transition: .25s;
		background: var(--orange-color);
		svg {
			transition: .25s;
			path {
                fill: var(--white-color); 
            }
		}
	}
	// .pagging__list
	&__list {
		display: flex;
		color: var(--text-color-black);
		text-align: center;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		gap: 1.5rem;
		@media (min-width: $pc) {
			gap: 3.75rem;
			font-size: 1.5rem;
		}
		@media (min-width: $full) {
			font-size: 2rem;
		}
	}
	// .pagging__item
	&__item {
		color: var(--text-color-black);
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		transition: .25s;
		@media (min-width: $full) {
			font-size: 2rem;
		}
		&._active {
			color: var(--orange-color);
		}
	}
	&__item:hover {
		color: var(--orange-color);
		transition: .25s;
	}
}

// стиль кнопки пин ту топ
.btn-gotop {
    position: fixed;
	width: 3rem;
	height: 3rem;
	flex-shrink: 0;
    bottom: 1.5rem;
    right: 1.5rem;
	border-radius: 1.875rem;
	background: linear-gradient(180deg, #EF6446 0%, #DB4A2A 100%);
    box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.5s;
	@media (min-width: $pc) {
		width: 4.375rem;
		height: 4.375rem;
		bottom: 2.5rem;
		right: 2.5rem;
	}
    &.show {
      opacity: 1;
    }

	svg {
		width: 0.625rem;
		height: 1.1875rem;
		@media (min-width: $pc) {
			width: 0.875rem;
			height: 1.4375rem;
		}
	}
  
    &:hover {
    //   border: 0.0938rem solid steelblue;
    }
  }
  
  
//   для конструктора/редактора
.textBlock {
	padding: 1.875rem 0 3.125rem 0;
	@media (min-width: $pc) {
		padding: 3.4375rem 0 4.375rem 0;
	}
	h1, h2, h3, h4 {
		color: var(--text-color-black);
		text-align: center;
		font-style: normal;
		font-weight: 700;
		line-height: 110%; /* 2.475rem */
		@media (min-width: $pc) {
			text-align: start;
		}
	}
    h1 {
		font-size: 2.25rem;
		margin: 0 0 0.625rem 0;
		@media (min-width: $mobile) {
		}
		@media (min-width: $pc) {
			font-size: 3.125rem;
		}
    }
    h2 {
		font-size: 2rem;
		margin: 0 0 0.625rem 0;
		@media (min-width: $mobile) {
			margin: 0 0 0.9375rem 0;
		}
		@media (min-width: $pc) {
			font-size: 2.5rem;
			margin: 0 0 1.875rem 0;
		}
    }
    h3 {
		font-size: 1.375rem;
		margin: 0 0 0.8125rem 0;
		@media (min-width: $mobile) {
			margin: 0 0 0.8125rem 0;
		}
		@media (min-width: $pc) {
			font-size: 2rem;
			margin: 0 0 1.875rem 0;
		}
    }
    h4 {
			margin: 0 0 0.625rem 0;
    }
	h1:last-child,
	h2:last-child,
	h3:last-child,
	h4:last-child {
		margin: 0;
	}
    p {
		font-size: 0.875rem;
		color: var(--text-color-black);
		text-align: center;
		font-style: normal;
		font-weight: 400;
		line-height: 140%; /* 1.225rem */
		margin: 0 0 1.875rem 0;
		@media (min-width: $mobile) {
			margin: 0 0 3.125rem 0;
		}
		@media (min-width: $pc) {
			font-size: 1.25rem;
			margin: 0 0 4.0625rem 0;
			text-align: start;
		}
    }
	p:last-child {
		margin: 0;
	}
    i {

    }
    strong {

    }
    table {
        
    }
	ul {
		padding: 0 0 0 1.25rem;
		margin: 0 0 1.875rem 0;
		@media (min-width: $pc) {
			margin: 0 0 3.125rem 0;
		}
		li {
			list-style-type:disc;

		}
		li:last-child {
			margin: 0;
		}
	}
	ul:last-child {
		margin: 0;
	}
	ol {
		padding: 0 0 0 1.25rem;
		margin: 0 0 1.875rem 0;
		@media (min-width: $pc) {
			margin: 0 0 3.125rem 0;
		}
		li:last-child {
			margin: 0;
		}
	}
	ol:last-child {
		margin: 0;
	}
	li {
		margin: 0 0 0.9375rem 0;
		color: #171717;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 400;
		line-height: 140%; /* 1.225rem */
		@media (min-width: $pc) {
			font-size: 1.25rem;
		}
	}
	li::marker {
		color: var(--orange-color);
	}
}

// блок цитата стать волонтером
.volunteer {
    // margin-right: 3.75rem 0 0 0;    
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--alt-cream-color);
        border-radius: 1.25rem; 
		padding: 3.125rem 0;
        @media screen and (min-width:$pc) {
            flex-direction: row;
            border-radius: 1.875rem; 
            padding: 5.625rem 5.625rem;
			justify-content: space-between;
        }
    }
    &__quote {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (min-width:$pc) {
            align-items: start;
        }
    }
    p {
        margin-top: 1.25rem;
        text-align: center;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @media screen and (min-width:$pc) { 
            font-size: 2.25rem;
            line-height: normal;
            text-align: start;
			max-width: 32.5rem;
        }
    }
    span {
        margin-top: 0.9375rem;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        @media screen and (min-width: $full) {
            font-size: 1.25rem;
            line-height: normal;
        }
    }
    &__btn {
        margin-top: 1.75rem;
        padding: 1rem 3rem;
        color: var(--white-color);
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-radius: 1.25rem;
        transition: 0.25s;
        background: linear-gradient(180deg, #EF6446 0%, #DB4A2A 100%);
        @media screen and (min-width: $pc) {
            // margin-left: 18.75rem;
            font-size: 1.5rem;
            line-height: normal;
            white-space: nowrap;
            border-radius: 2.5rem;
            padding: 1.875rem 5rem;
        }
    }
    button:hover {
        background: linear-gradient(180deg, #EB8069 0%, #DB4A2A 100%);
        transition: 0.25s;
    }
}

// оранжевая линия
.lineOrange {
	background: #F5BFB4;
	height: 0.125rem;
}

// Форма контакта
.contactForm {
	display: flex;
	flex-direction: column;
	background: #fff3ed;
	padding: 2.9375rem 1.25rem;
	@media (min-width: $mobile) {
		padding: 3.1875rem 3.5625rem;
	}
	@media (min-width: $tablet) {
		align-items: start;
		padding: 3.9375rem 7.625rem;
	}
	@media (min-width: $pc) {
		padding: 5.0625rem 7.75rem;
	}
	@media (min-width: $full) {
	}
	&__form-title {
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 2rem;
		text-align: center;
		color: #171717;
		@media (min-width: $mobile) {
			
		}
		@media (min-width: $tablet) {
			font-size: 2.875rem;
		}
		@media (min-width: $pc) {
		}
		@media (min-width: $full) {
		}
	}
	&__form-descr {
		margin-top: 1.0625rem;
		font-weight: 400;
		font-size: 1.125rem;
		line-height: 140%;
		text-align: center;
		color: #171717;
		@media (min-width: $mobile) {
		}
		@media (min-width: $tablet) {
			margin-top: 1.3125rem;
		}
		@media (min-width: $pc) {
			margin-top: 1.625rem;
			font-size: 1.25rem;
		}
		@media (min-width: $full) {
		}
	}
	.contactsForm {
		margin-top: 1.375rem;
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		@media (min-width: $mobile) {
			margin-top: 2.0625rem;
		}
		@media (min-width: $tablet) {
			margin-top: 3.625rem;
		}
		@media (min-width: $pc) {
			margin-top: 2.1875rem;
		}
		@media (min-width: $full) {
		}
	}
	&__form-inputs {
		gap: 0.875rem;
		width: 100%;
		input {
			line-height: normal;
			padding: 1.0625rem 1.875rem 0.9375rem 1.875rem;
			font-weight: 400;
			font-size: 1.125rem;
			@media (min-width: $mobile) {
			}
			@media (min-width: $tablet) {
			}
			@media (min-width: $pc) {
				padding: 1.4375rem 2.5625rem 1.5625rem 2.5625rem;
				font-weight: 400;
				font-size: 1.125rem;
			}
			@media (min-width: $full) {
				font-size: 1.25rem;
			}
		}
		@media (min-width: $mobile) {		
			display: flex;
			flex-direction: row;
		}
		@media (min-width: $tablet) {
		}
		@media (min-width: $pc) {
			gap: 2rem;
		}
		@media (min-width: $full) {
		}
	}
	&__form-input {
		width: 100%;
		input {
			margin-top: 0.875rem;		
			border: 0.0625rem solid #ec6041;
			border-radius: 1.25rem;	
			width: 100%;
			height: 100%;
			background: #fff;	
			@media (min-width: $mobile) {
				margin-top: 0;
			}
			@media (min-width: $tablet) {
			}
			@media (min-width: $pc) {
				border-radius: 1.875rem;
			}
			@media (min-width: $full) {
				border-radius: 2.5rem;
			}
		}
	}
	&__form-select {
		margin-top: 1.6875rem;
		display: flex;
		flex-direction: column;
		width: 100%;
		@media (min-width: $mobile) {
			align-items: center;
			text-align: center;
			flex-direction: row;
		}
		@media (min-width: $tablet) {
		}
		@media (min-width: $pc) {
		}
		@media (min-width: $full) {
		}		
	}
	&__selectLabel {
		@media (min-width: $mobile) {
			margin-right: 1.3125rem;
		}
		p {
			font-weight: 700;
			font-size: 1.125rem;
			color: #000;
			margin-left: 1.875rem;
			@media (min-width: $mobile) {
				width: 9.0625rem;
			}
			@media (min-width: $tablet) {
				font-size: 1.25rem;
				width: 10.3125rem;
			}
			@media (min-width: $pc) {
				font-size: 1.5rem;
				width: 11.875rem;
			}
		}
	}
	&__selector {
		margin-top: 0.9375rem;
		width: 100%;
		@media (min-width: $mobile) {
			margin-top: 0;
			margin-right: 9.375rem;
		}
		@media (min-width: $tablet) {
		}
		@media (min-width: $pc) {
		}
		@media (min-width: $full) {
		}
	}
	&__formSelect {
		@media (min-width: $mobile) {
		}
		@media (min-width: $tablet) {
		}
		@media (min-width: $pc) {
		}
		@media (min-width: $full) {
		}
	}
	&__form-textarea {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 100%;
		@media (min-width: $mobile) {
		}
		@media (min-width: $tablet) {
		}
		@media (min-width: $pc) {
		}
		@media (min-width: $full) {
		}
	}
	&__formTextarea {
		padding: 1.0625rem 1.5rem;
		margin-top: 0.9375rem;
		border: 0.0625rem solid #ec6041;
		border-radius: 1.25rem;
		width: 100%;
		height: 9.5rem;
		background: #fff;
		font-weight: 400;
		font-size: 1rem;
		color: #000;
		@media (min-width: $mobile) {		
			margin-top: 1.25rem;	
			width: 100%;
		}
		@media (min-width: $tablet) {
		}
		@media (min-width: $pc) {
			border-radius: 2.5rem;
			padding: 2.375rem 2.5625rem;
			font-size: 1.125rem;
		}
		@media (min-width: $full) {
			padding: 2.375rem 4.6875rem;
			font-size: 1.25rem;
		}
	}
	&__form-button {
		display: flex;
		align-items: center;
		@media (min-width: $mobile) {
		}
		@media (min-width: $tablet) {		
			width: 100%;
			height: 3.75rem;
			margin-top: 0.9375rem;
			position: relative;
		}
		@media (min-width: $pc) {
			height: 6.25rem;
			margin-top: 1.875rem;
		}
		@media (min-width: $full) {
			margin-top: 3.125rem;
		}
	}
	&__formSubmit {
		margin-top: 1.5625rem;
		padding: 1rem 3.125rem;		
		font-weight: 700;
		font-size: 1.125rem;
		color: #fff;
		border-radius: 1.25rem;
		background: linear-gradient(180deg, #e55738 0%, #db4a2a 100%);
		@media (min-width: $mobile) {
			margin-top: 1.9375rem;
			padding: 1.25rem 4.6875rem;	
		}
		@media (min-width: $tablet) {
			margin-top: 0rem;
			position: absolute;
			right: 0;
		}
		@media (min-width: $pc) {
			padding: 1.875rem 5.8125rem;		
			font-size: 1.5rem;
			border-radius: 2.5rem;
		}
		@media (min-width: $full) {
			font-size: 2rem;
		}
	}
}


// Чекбокс слайдер
/* The switchCheckbox - the box around the sliderCheckbox */
.switchCheckbox {
	align-items: center;
	position: absolute;
	display: inline-block;
	top: -1.1875rem;
	right: 0;
	width: 2rem;
	height: 1.25rem;
	@media screen and (min-width:$mobile) {
		height: 1.25rem;
	}
	@media screen and (min-width:$pc) {
		height: 1.25rem;
	}
	@media screen and (min-width:$full) {
		height: 2rem;
		width: 3.125rem;
	}
}

/* Hide default HTML checkbox */
.switchCheckbox input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The sliderCheckbox */
.sliderCheckbox {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #F3ECEC;
	-webkit-transition: .4s;
	transition: .4s;
}

.sliderCheckbox:before {
	position: absolute;
	content: "";
	height: 1.25rem;
	width: 1.25rem;
	background-color: #B3B3B3;
	-webkit-transition: .4s;
	transition: .4s;
	@media screen and (min-width:$mobile) {
		height: 1.25rem;
		width: 1.25rem;
	}
	@media screen and (min-width:$pc) {
		height: 1.25rem;
		width: 1.25rem;
	}
	@media screen and (min-width:$full) {
		height: 2rem;
		width: 2rem;
	}
}

input:checked + .sliderCheckbox {
	background-color: #F5BFB4;
}
input:checked ~ .profileSettings__sectionTitle {
	color: #DB4A2A;
}
input:focus + .sliderCheckbox {
	box-shadow: 0 0 0.0625rem #F3ECEC;
}

input:checked + .sliderCheckbox:before {
	-webkit-transform: translateX(0.75rem);
	-ms-transform: translateX(0.75rem);
	transform: translateX(0.75rem);
	background-color:#DB4A2A;
	@media screen and (min-width:$full) {
		-webkit-transform: translateX(1.125rem);
		-ms-transform: translateX(1.125rem);
		transform: translateX(1.125rem);
	}
}

/* Rounded sliderCheckboxs */
.sliderCheckbox.roundCheckbox {
	border-radius: 1.25rem;
}

.sliderCheckbox.roundCheckbox:before {
	border-radius: 50%;
}

