.error404 {
	&__container {
		display: flex;
		flex-direction: column;
	}
	&__title {		
		margin-top: 15.625rem;
		font-size: 8rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		color: var(--text-color-black);
	}
	&__description {
		margin-top: 0.625rem;
		font-size: 1.875rem;
		font-style: normal;
		font-weight: 400;
		line-height: 140%; /* 42px */
		color: var(--text-color-black);
	}
	&__redirect {
		margin-top: 3.125rem;
		font-size: 2rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-decoration-line: underline;
		color: var(--text-color-blue);
		margin-bottom: 16.875rem;
	}
	&__redirect:hover {
		text-decoration-line: none;
		cursor: pointer;
	}
}
