.footer {
    background-color: var(--white-color);
    color: var(--text-color-black);
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    &__logoContainer {
        margin-top: 3.4375rem;
    }
    &__aboutUs {
        margin-top: 1.35rem;
        p {
            color: var(--text-color-black);
            text-align: center;
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal; 
        }
    }
    &__contactBtn {
        margin-top: 2.8125rem;
        img {
            margin-right: 0.5625rem;
        }
        button {
            padding: 1.0625rem 0.9375rem;
            border-radius: 1.25rem;
            border: 0.0625rem solid var(--orange-border-transparent);
            color: var(--text-color-black);
            font-size: 1rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;    
            display: flex;
            align-items: center;
        }
    }
    &__referralProgram {
        color: var(--orange-color);
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.125rem;    
        text-transform: uppercase;
        margin-top: 2.8125rem;
    }
    &__referralProgram:hover {
        text-decoration: underline;
    }
    &__links {
        margin-top: 2.75rem;
        a {
            margin-bottom: 1.0625rem;
            color: var(--text-color-black);
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        a:hover {
            text-decoration: underline;
        }
        a:last-child {
            margin-bottom: 0;
        }
    }
    &__socialsContainer {
        display: flex;
        gap: 2.1875rem;
        justify-content: center;
        height: 2rem;
        display: flex;
        align-items: center;
        margin-top: 2.5rem;
    }
    &__copyright {
        color: var(--text-color-black);
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.075rem;
        text-align: center;
        margin-top: 2.3125rem;
        padding-bottom: 2.5625rem;
        span {
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.075rem;
            color: var(--text-color-black);
        }
    }
}
