.footer {
    background-color: var(--white-color);
    color: var(--text-color-black);
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    &__logo {
        margin-top: 3.4375rem;
    }
    &__about {
        margin-top: 1.35rem;
        padding: 0 0.3125rem;
        p {
            color: var(--text-color-black);
            text-align: center;
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal; 
        }
    }
    &__contact {
        margin-top: 2.8125rem;
        img {
            margin-right: 0.5625rem;
        }
        button {
            padding: 1.0625rem 0.9375rem;
            border-radius: 1.25rem;
            border: 0.0625rem solid var(--orange-border-transparent);
            color: var(--text-color-black);
            font-size: 1rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;    
            display: flex;
            align-items: center;
        }
        button:hover {
            color: var(--white-color);
            border-radius: 2.5rem;
            background: linear-gradient(180deg, #EB8069 0%, #DB4A2A 100%);
        }
    }
    &__ref {
        color: var(--orange-color);
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.125rem;    
        text-transform: uppercase;        
        display: flex;
        justify-content: center;
        margin: 1.1875rem 0 0 0;
        a {
            padding: 1.625rem;
        }
    }
    &__ref:hover {
        text-decoration: underline;
    }
    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.75rem 0 0 0;
        a {
            color: var(--text-color-black);
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding: 0.5625rem;
            text-decoration: underline
        }
        a:hover {
            text-decoration: none;
        }
    }
    &__socials {
        display: flex;
        gap: 2.1875rem;
        justify-content: center;
        height: 2rem;
        display: flex;
        align-items: center;
        margin-top: 2.5rem;
    }
    &__copyright {
        color: var(--text-color-black);
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.075rem;
        text-align: center;
        margin-top: 2.3125rem;
        padding-bottom: 2.5625rem;
        span {
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.075rem;
            color: var(--text-color-black);
        }
    }
}
