.header {
	--_header-logo-width: 6.5rem;
	--_header-logo-height: 1.25rem;

	--_header-link-color: var(--white-color);

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	padding: 0;

	&:not(.header--alt) {
		background: var(--white-color);
	}

	.container-xxl {
		display: grid;
		grid-template-columns: var(--_header-logo-width) auto;
		justify-content: space-between;
		align-items: center;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	.header__logo {
		> img {
			width: var(--_header-logo-width);
			height: var(--_header-logo-height);
		}
	}

	.header__menu {
		display: none;

		li {
			&:not(:last-child) {
				margin-right: 1.25rem;
			}
		}
	}

	.header__menu-link {
		text-transform: uppercase;
		font-size: 0.875rem;
		font-weight: var(--fw-600);
		color: var(--black-color);
		transition: color .25s;

		span {
			color: inherit;
		}

		@media (any-hover: hover) {
			&:hover {
				color: var(--accent-color);
			}
		}
	}

	.header__btnBox {
		display: none;
		align-items: center;

		> button {
			&:not(:last-child) {
				margin-right: 0.5625rem;
			}
		}
	}

	// .btn--border-alt {
	// 	&.active {
	// 		color: var(--black-color);
	// 		background-color: var(--white-color);

	// 		.icon-arrow-down {
	// 			transform: rotate(180deg);
	// 		}
	// 	}
	// }

	&.header--alt {
		.header__menu-link {
			color: var(--white-color);


			@media (any-hover: hover) {
				&:hover {
					color: var(--accent-color);
				}
			}
		}

		.btn--border-alt {
			color: var(--white-color);

			&::before {
				border-color: var(--white-color);
			}

			&.active {
				color: var(--black-color);

				&::before {
					border-color: var(--accent-color);
				}
			}

			@media (any-hover: hover) {
				&:hover {
					color: var(--black-color);

					&::before {
						border-color: var(--accent-color);
					}
				}
			}
		}

		.btn--link {
			color: var(--white-color);

			span {
				color: var(--white-color);
			}

			@media (any-hover: hover) {
				&:hover {
					span {
						color: var(--accent-color);
					}
				}
			}
		}
	}

	@media (min-width: $mobile) {
		--_header-logo-width: 10.375rem;
		--_header-logo-height: 2rem;
	}

	@media (min-width: $tablet) {
		--_header-logo-width: 12.625rem;
		--_header-logo-height: 2.5rem;

		.container-xxl {
			grid-template-columns: var(--_header-logo-width) auto auto;
		}

		.header__menu {
			display: block;

			> ul {
				display: flex;
			}
		}

		.header__btnBox {
			display: flex;
		}

		.header__menuBtn {
			display: none;
		}
	}

	@media (min-width: $pc) {
		--_header-logo-width: 16rem;
		--_header-logo-height: 3.125rem;


		.header__menu-link {
			font-size: 1rem;
		}
	}


}