.instructions {
	&__title {
		margin: 3.4375rem 0 0 0;
		font-weight: 600;
		font-size: 2.25rem;
		line-height: 110%;
		text-align: center;
		color: var(--text-color-black);
		@media screen and (min-width:$mobile) {
			margin: 4.6875rem 0 0 0;
		}
		@media screen and (min-width:$tablet) {
			margin: 6.25rem 0 0 0;
			font-size: 3.125rem;
			text-align: start;
		}
		@media screen and (min-width:$full) {
			margin: 9.375rem 0 0 0;
			font-size: 4rem;
		}
	}
	&__description {
		margin-top: 1.375rem;
		font-weight: 400;
		font-size: 1rem;
		text-align: center;
		color: #171717;
		color: var(--text-color-black);
		@media screen and (min-width:$tablet) {
			margin: 1.6875rem 0 0 0;
			font-size: 1.5rem;
			text-align: start;
		}
		@media screen and (min-width:$full) {
			margin: 2.9375rem 0 0 0;
			font-size: 1.875rem;
		}
	}	
}
.instructionSpollers {
	margin: 2.8125rem 0 0 0;
	&__title {
		font-weight: 600;
		font-size: 1.125rem;
		color: #fff;
		cursor: pointer;
		background-color: var(--orange-color);
		display: flex;
		align-items: center;
		width: 100%;
		border-radius: 1.25rem;
		padding: 1.25rem;
		justify-content: space-between;
		line-height: 1.375rem;
		@media screen and (min-width:$tablet) {
			padding: 2.1875rem 2.1875rem 2.1875rem 3.125rem;
			font-size: 1.875rem;
			border-radius: 1.875rem;
		}
		@media screen and (min-width:$full) {
			padding: 3.125rem 3.125rem 3.125rem 4.6875rem;
			font-size: 2.25rem;
			border-radius: 2.5rem;
		}
		svg {
			@media screen and (min-width:$tablet) {
				width: 1.875rem;
				height: 1.875rem;;
			}
		}
	}
	&__body {
		margin: 1.25rem 0 0 0;
		background-color:#FFF8F6;
		border-radius: 1.25rem;
		padding: 2.5rem 1.25rem 0 1.25rem;
		position: relative;
		@media screen and (min-width:$mobile) {
			padding: 1.875rem 1.5625rem 0 1.5625rem;
		}
		@media screen and (min-width:$tablet) {
			padding: 3.125rem 3.125rem 0 3.125rem;
		}
		@media screen and (min-width:$pc) {
			padding: 3.125rem 3.75rem 0 3.75rem;
		}
		@media screen and (min-width:$full) {
			padding: 4.0625rem 4.6875rem 0 4.6875rem;
		}
	}
	&__body-title {
		font-weight: 600;
		font-size: 1.5rem;
		color: #171717;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1.25rem;
		@media screen and (min-width:$tablet) {
			margin-bottom: 0.9375rem;
		}
		@media screen and (min-width:$tablet) {
			font-size: 2.25rem;
		}
		@media screen and (min-width:$tablet) {
			margin-bottom: 2.1875rem;
		}
		@media screen and (min-width:$full) {
			margin-bottom: 4.0625rem;
			font-size: 3rem;
		}
	}
	&__body-title:last-child {
		margin-bottom: 0;
	}
	&__body-close {
		@media screen and (min-width:$mobile) {
		}
		@media screen and (min-width:$tablet) {
		}
		@media screen and (min-width:$pc) {
		}
		@media screen and (min-width:$full) {
		}
		svg {
			@media screen and (min-width:$tablet) {
				width: 1.875rem;
				height: 1.875rem;;
			}
		}
	}

	// &__body {
	// 	margin-top: 1.5625rem;
	// 	padding: 4.0625rem 3.125rem 3.75rem 4.6875rem;
	// 	border-radius: 1.875rem;
	// 	font-size: 1.5rem;
	// 	font-style: normal;
	// 	font-weight: 400;
	// 	line-height: normal;
	// 	color: var(--text-color-black);
	// 	background-color: var(--cream-color);
	// }
	// &__title {
	// 	max-width: fit-content;
	// 	display: flex;
	// 	flex-direction: row;
	// 	align-items: center;
	// 	justify-content: space-between;
	// 	font-size: 3rem;
	// 	font-style: normal;
	// 	font-weight: 700;
	// 	line-height: normal;		
	// }
	// .spollerClose {
	// 	position: relative;
	// 	top: -50px;
	// 	float: right;
	// 	max-width: fit-content;
	// 	cursor: pointer;
	// 	svg {			
	// 		margin: 0.625rem 0.625rem 0rem;			
	// 	}
	// }
	// &__descr {
	// 	max-width: 47.1875rem;
	// 	margin-top: 4.0625rem;
	// 	font-size: 1.5rem;
	// 	font-style: normal;
	// 	font-weight: 400;
	// 	line-height: normal;
	// 	color: var(--text-color-black);
	// }
	// &__videoSection {
	// 	display: flex;
	// 	flex-direction: row;
	// 	margin-top: 70px;
	// 	vertical-align: middle;
	// }
	// &__videoplayer {
	// 	max-width: 48.4375rem;
	// 	max-height: 24.375rem;		
	// 	flex-shrink: 0;
	// 	border-radius: 1.875rem;	
	// 	overflow: hidden;	
	// 	box-shadow: 0rem 1.1875rem 1.8125rem 0.25rem rgba(78, 54, 48, 0.30);
	// 	img {						
	// 		width: 100%;
	// 		height: 100%;
	// 		object-fit: cover;
	// 	}		
	// }
	// &__videoDescr {
	// 	padding: 3.125rem 0rem 4.375rem 4.375rem;		
	// }
	// &__howTo {
	// 	margin-top: 7.8125rem;
	// }
	// &__title {
	// 	font-size: 3.25rem;
	// 	font-style: normal;
	// 	font-weight: 700;
	// 	line-height: normal;
	// 	color: var(--text-color-black);
	// }
	// &__steps {
	// 	padding-right: 2.8125rem;
	// 	display: flex;
	// 	flex-direction: row;
	// 	justify-content: space-between;
	// 	&_item {			
	// 		margin-top: 4.375rem;
	// 		max-width: 25rem;
	// 		display: flex;
	// 		flex-direction: column;			
	// 	}
	// 	&_image {
	// 		max-width: 25rem;
	// 		height: 17.5rem;
	// 		flex-shrink: 0;
	// 		overflow: hidden;	
	// 		border-radius: 1.875rem;
	// 		img {		
	// 			width: 100%;
	// 			height: 100%;
	// 			object-fit: cover;
	// 		}
	// 	}
	// 	&_title {			
	// 		display: flex;
	// 		flex-direction: row;
	// 		align-items: center;
	// 		vertical-align: middle;
	// 		margin-top: 2.5rem;
	// 		div {
	// 			padding: 1.875rem 2.5rem 1.875rem 2.5rem;
	// 			font-size: 2rem;
	// 			font-style: normal;
	// 			font-weight: 700;
	// 			line-height: normal;
	// 			color: var(--white-color);
	// 			border-radius: 2.5rem;
	// 			background: linear-gradient(180deg, #EF6446 0%, #DB4A2A 100%);
	// 		}
	// 		h2 {
	// 			padding: 1.25rem 0 1.25rem 1.25rem;
	// 			font-size: 1.5rem;
	// 			font-style: normal;
	// 			font-weight: 700;
	// 			line-height: normal;
	// 			color: var(--text-color-black);
	// 		}
	// 	}
	// 	&_descr {
	// 		margin-top: 1.875rem;
	// 		font-size: 1.25rem;
	// 		font-style: normal;
	// 		font-weight: 400;
	// 		line-height: normal; 
	// 		color: var(--text-color-black);
	// 	}
	// }
}
