@import './components/home-hero.scss';
@import './components/main-benefits.scss';

.main {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	&__container {
		display: flex;
		flex-direction: column;
	}
}
.mainPage {
	.volunteer {
		margin-top: 3.75rem;
		@media (min-width: $mobile) {
		}
		@media (min-width: $tablet) {
			margin-top: 5rem;
		}
		@media (min-width: $pc) {
		}
		@media (min-width: $full) {
			margin-top: 6.875rem;
		}
	}
}
.mainRecent {
	margin-top: 2.5rem;
	background-color: var(--cream-color);
	&__title {
		h2 {
			padding: 3.75rem 0 0 0;
			text-align: center;
			font-size: 2rem;
			font-style: normal;
			font-weight: var(--fw-700);
			line-height: normal;
			@media screen and (min-width: $full) {
				text-align: left;
				font-size: 3.25rem;
			}
		}
		p {
			padding: 1.5625rem 0 0;
			text-align: center;
			font-size: 1rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			@media screen and (min-width: $full) {
				text-align: left;
				font-size: 1.5rem;
				max-width: 48.75rem;
			}
		}
		@media screen and (min-width: $full) {
			padding-left: 6.5625rem;
		}
	}
	&__slider {
		margin-top: 3.75rem;
		overflow: hidden;
		@media screen and (min-width: $full) {
			padding-left: 6.5625rem;
		}
		.swiper-pagination {
			position: relative;
			@media (min-width: $tablet) {
			}
			&.swiper-pagination-progressbar {
				background: #f3ecec;
				height: 6px;
				.swiper-pagination-progressbar-fill {
					background-color: #e55738;
				}
			}
		}
	}
	&__slide {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		@media screen and (min-width: $full) {
			border-radius: 1.875rem;
		}
		&_photo {
			height: 11.875rem;
			width: 8.625rem;
			position: relative;
			@media screen and (min-width: $tablet) {
				height: 17.5rem;
				width: 13.75rem !important;
			}
			@media screen and (min-width: $pc) {
				height: 19.375rem;
				width: 15.25rem !important;
			}
			img {
				border-radius: 0.875rem;
				width: 100%;
			}
			img:hover {
				box-shadow: 0 0.625rem 0.625rem -0.3125rem rgb(0 0 0 / 0.4);
			}
		}
		&_imgItem {
			position: absolute;
			width: 3.625rem !important;
			bottom: -0.625rem;
			right: -1.75rem;
			@media screen and (min-width: $full) {
				width: 5.6875rem !important;
				right: -2.5rem;
			}
		}
		&_text {
			margin-top: 1.25rem;
			@media screen and (min-width: $full) {
				margin-top: 2.5rem;
			}
			h4 {
				text-align: center;
				font-size: 1.125rem;
				font-style: normal;
				font-weight: var(--fw-700);
				line-height: normal;
				@media screen and (min-width: $full) {
					font-size: 2rem;
					max-width: 15.3125rem;
				}
			}
			p {
				margin-top: 0.625rem;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				font-size: 0.75rem;
				@media screen and (min-width: $full) {
					font-size: 1.125rem;
					margin-top: 1.125rem;
					max-width: 15.3125rem;
				}
			}
		}
	}
	&__slide:hover {
		cursor: pointer;
	}
	&__scrollbar {
		height: 0.375rem;
		width: 100%;
		border-radius: 1.875rem;
		background: #f3ecec;
		margin: 3.125rem 0 0 0;
		@media screen and (min-width: $full) {
			margin: 8.125rem 0 0 0;
		}
		.swiper-scrollbar-drag {
			height: 0.375rem;
			border-radius: 1.875rem;
			cursor: pointer;
			background-color: var(--orange-color);
		}
	}
	&__register {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 3.75rem;
		@media screen and (min-width: $full) {
			flex-direction: row;
			gap: 25rem;
			margin: 9.0625rem 0;
		}
		h4 {
			font-size: 1.5rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-align: center;
			@media screen and (min-width: $full) {
				font-size: 2.75rem;
				text-align: start;
			}
		}
		a {
			color: var(--text-color-blue);
			font-size: 1.5rem;
			font-style: normal;
			font-weight: var(--fw-700);
			line-height: normal;
			text-decoration: underline;
			@media screen and (min-width: $full) {
				font-size: 2.75rem;
			}
		}
		a:hover {
			cursor: pointer;
			text-decoration: none;
		}
		.btn {
			margin: 2.5rem 0 2.8125rem;
		}
	}
	&__text {
		a {
			span {
				color: var(--link-color);
			}
			span::after {
				height: 0.0063rem;
				background-color: var(--link-color);
			}
			padding: 0.5625rem;
		}
		@media screen and (min-width: $full) {
			max-width: 37.5rem;
			padding-left: 6.5625rem;
		}
	}
	@media screen and (min-width: $full) {
		margin-top: 6.25rem;
	}
}

.mainFunerals {
	&__container {
		display: flex;
		align-items: center;
		text-align: center;
		flex-direction: column;
	}
	&__header {
		@media screen and (min-width: $full) {
			display: flex;
			margin-top: 4.375rem;
		}
	}
	&__title {
		h2 {
			padding: 3.75rem 0 0 0;
			text-align: center;
			font-size: 2rem;
			font-style: normal;
			font-weight: var(--fw-700);
			line-height: normal;
			@media screen and (min-width: $full) {
				font-size: 3.25rem;
				text-align: start;
			}
		}
		p {
			padding: 1.5625rem 0 0;
			text-align: center;
			font-size: 1rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			@media screen and (min-width: $full) {
				font-size: 1.5rem;
				text-align: start;
			}
		}
		@media screen and (min-width: $full) {
			padding-left: 6.5625rem;
		}
	}
	&__input {
		position: relative;
		align-items: center;
		img:first-of-type {
			position: absolute;
			padding: 2.8125rem 1.0625rem 1.0625rem 1.0625rem;
			scale: 80%;
			@media screen and (min-width: $full) {
				scale: 100%;
				top: 1.5625rem;
				padding: 3.125rem 1.25rem 1.25rem 2rem;
			}
		}
		img:last-of-type {
			position: absolute;
			padding: 2.8125rem 1.0625rem 1.0625rem 1.0625rem;
			margin-left: 19.0625rem;
			@media screen and (min-width: $full) {
				margin-left: 24.8125rem;
				padding: 5rem 1.9375rem 1.5rem 0rem;
			}
		}
		input {
			min-width: 22.1875rem;
			margin-top: 1.875rem;
			padding: 1.0625rem 0 1.0625rem 3.375rem;
			border-radius: 1.25rem;
			border: 0.0625rem solid var(--orange-color);
			background: var(--white-color);
			@media screen and (min-width: $full) {
				border-radius: 1.875rem;
				min-width: 28.125rem;
				margin-top: 3.75rem;
			}
		}
		input[type='text'] {
			font-size: 1rem;
			font-style: normal;
			font-weight: var(--fw-700);
			line-height: normal;
			padding-left: 3.125rem;
			@media screen and (min-width: $full) {
				padding-left: 4.6875rem;
				font-size: 1.5rem;
			}
		}
		@media screen and (min-width: $full) {
			margin-left: 16.875rem;
			margin-right: 4.6875rem;
		}
	}
	&__companies {
		margin-top: 1.875rem;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		row-gap: 2.5rem;
		column-gap: 0.625rem;
		@media screen and (min-width: $full) {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(1, auto);
			column-gap: 5rem;
			padding-left: 1.875rem;
			margin-top: 6.25rem;
		}
	}
	.funeralCompany {
		&__imageBox {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 10.625rem;
			height: 8.4375rem;
			border: 0.0625rem solid rgba(0, 0, 0, 0.1);
			border-radius: 0.875rem;
			img {
				object-fit: fit;
				width: 100%;
				height: auto;
				max-height: 100%;
			}
			@media screen and (min-width: $full) {
				width: 19.375rem;
				height: 15rem;
				border-radius: 1.875rem;
				border: 0.0625rem solid rgba(0, 0, 0, 0.1);
				img {
					object-fit: contain;
					width: 100%;
					height: auto;
					max-height: 100%;
				}
			}
		}
		&__imageBox:hover {
			border: none;
			cursor: pointer;
			box-shadow: 0rem 1.1875rem 1.8125rem 0.25rem rgba(78, 54, 48, 0.3);
		}
		&__fullDay {
			position: absolute;
			z-index: 100;
			top: 0.4375rem;
			right: 0.4375rem;
			align-items: center;
			text-align: center;
			padding: 0.1875rem 0.4375rem;
			background-color: var(--orange-color);
			border-radius: 1.25rem;
			color: var(--white-color);
			font-size: 0.5rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			@media screen and (min-width: $full) {
				top: 0.875rem;
				right: 0.875rem;
				border-radius: 2.5rem;
				color: var(--white-color);
				padding: 0.3125rem 0.75rem;
				font-size: 1rem;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}
		}
		h4 {
			padding-top: 0.8125rem;
			text-align: center;
			font-size: 1.125rem;
			font-style: normal;
			font-weight: var(--fw-700);
			line-height: normal;
			@media screen and (min-width: $full) {
				font-size: 2rem;
			}
		}
		p {
			padding-top: 0.4375rem;
			text-align: center;
			font-size: 0.875rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			@media screen and (min-width: $full) {
				font-size: 1.5rem;
			}
		}
	}
}
.mainPartners {
	margin-top: 3.75rem;
	background-color: var(--alt-cream-color);
	&__container {
		hr {
			height: 0.125rem;
			background: var(--orange-border-transparent);
		}
		@media screen and (min-width: $full) {
		}
	}
	&__title {
		h2 {
			padding: 9.125rem 0 0 0;
			text-align: center;
			font-size: 2rem;
			font-style: normal;
			font-weight: var(--fw-700);
			line-height: normal;
			@media screen and (min-width: $full) {
				font-size: 3.25rem;
				text-align: start;
			}
		}
		p {
			padding: 1.75rem 0 0;
			text-align: center;
			font-size: 1rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			@media screen and (min-width: $full) {
				font-size: 1.5rem;
				text-align: start;
			}
		}
		@media screen and (min-width: $full) {
			max-width: 48.75rem;
			padding-left: 6.5625rem;
		}
	}
	&__partners {
		margin-top: 2.8125rem;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		row-gap: 2.5rem;
		column-gap: 0.625rem;
		div {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	&__partner {
		margin-top: 2.8125rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media screen and (min-width: $full) {
			flex-direction: row;
			justify-content: space-between;
		}
		h4 {
			color: var(--text-color-black);
			text-align: center;
			font-size: 1.5rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			@media screen and (min-width: $full) {
				max-width: 43.75rem;
				margin: 6.25rem 0 7.5rem 0;
				color: var(--text-color-black);
				font-size: 2.75rem;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}
		}
		button {
			padding: 1rem 2rem;
			margin: 1.375rem 0 2.5rem 0;
			color: var(--white-color);
			font-size: 1.125rem;
			font-style: normal;
			font-weight: var(--fw-700);
			line-height: normal;
			border-radius: 1.25rem;
			background: linear-gradient(180deg, #64a2ff 0%, #2a86db 100%);
			@media screen and (min-width: $full) {
				padding: 1.875rem 4.6875rem;
				margin: 6.25rem 0 7.5rem 0;
				color: var(--white-color);
				border-radius: 2.5rem;
				font-size: 2rem;
				font-style: normal;
				font-weight: var(--fw-700);
				line-height: normal;
			}
		}
		button:hover {
			background: linear-gradient(0deg, #64a2ff 0%, #2a86db 100%);
			transition: 0.25s;
		}
	}
	@media screen and (min-width: $full) {
		margin-top: 7.1875rem;
	}
}

.mainTG {
	margin-top: 1.25rem;
	@media (min-width: $mobile) {
		margin-top: 1.5625rem;
	}
	@media (min-width: $tablet) {
		margin-top: 1.875rem;
	}
	@media (min-width: $pc) {
		margin-top: 2.1875rem;
	}
	@media (min-width: $full) {
		margin-top: 2.5rem;
	}
	&__container {
		max-width: 22.1875rem;
		@media (min-width: $mobile) {
			max-width: 43.75rem;
		}
		@media (min-width: $tablet) {
			max-width: 64.625rem;
		}
		@media (min-width: $pc) {
			max-width: 75.25rem;
		}
		@media (min-width: $full) {
			max-width: 93.125rem;
		}
	}
	&__content {
		background: linear-gradient(90deg, #298bfa 1.22%, #2f8ffb 34.72%, rgba(196, 224, 255, 1) 100%);
		border-radius: 30px;
		padding: 1.5625rem 1.875rem;
		@media (min-width: $mobile) {
		}
		@media (min-width: $tablet) {
		}
		@media (min-width: $pc) {
		}
		@media (min-width: $full) {
		}
	}
	&__text {
		display: flex;
		flex-direction: column;
		align-items: center;
		h2 {
			font-weight: var(--fw-700);
			font-size: 1.5rem;
			line-height: 120%;
			text-align: center;
			color: var(--white-color);
			margin-top: 0.9375rem;
		}
		p {
			font-weight: 400;
			font-size: 1rem;
			text-align: center;
			color: var(--white-color);
			margin-top: 0.625rem;
		}
	}
	&__btn {
		margin-top: 1.5625rem;
		display: flex;
		justify-content: center;
	}
}
@media (min-width: $mobile) {
}
@media (min-width: $tablet) {
}
@media (min-width: $pc) {
}
@media (min-width: $full) {
}