@import './components/home-hero.scss';
@import './components/main-benefits.scss';

.main {
	--_section-padding-block: clamp(3.125rem, 0.2679rem + 5.9524vw, 5.625rem);
	--_section-margin: clamp(3.75rem, 0.8929rem + 5.9524vw, 6.25rem);
	--_main-info-padding-inline: clamp(3.125rem, 0.2679rem + 5.9524vw, 5.625rem);
  --_main-info-padding-block: clamp(3.125rem, 0.2679rem + 5.9524vw, 5.625rem);
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	&__container {
		display: flex;
		flex-direction: column;
	}
}

.mainRecent {
	margin-top: var(--_section-margin);
	padding: var(--_section-padding-block) 0;
}

.mainPartners {
	margin-top: 3.75rem;
	background-color: var(--alt-cream-color);
}

