.mainCover {  
    display: flex;  
    flex: 1 1 auto;
    color: var(--white-color);
    align-items: center;
    text-align: center;
    flex-direction: column;
    &__Title {
        h2 {
            color: var(--white-color);
            text-align: center;
            font-size: 2.25rem;
            font-style: normal;
            font-weight: 600;
            line-height: 110%;
            padding: 7.5rem 0.625rem 0;
        }
        p {
            text-align: center;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
        line-height: normal;
        padding: 0.75rem 0.625rem 0;
    }
    button {
        margin-top: 2.8125rem;
        padding: 1rem 2.125rem;
        color: var(--white-color);
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-radius: 1.25rem;
        background: linear-gradient(180deg, #EF6446 0%, #DB4A2A 100%);
        }    
    }
    &__searchSection {
        padding: 5.9375rem 0.625rem 0;
        form {
            border-radius: 20px;
            background: #FFF3ED;
        }  
    }
    &__searchType {
        display: flex;
        padding: 1.875rem 2.5rem 0;
        p {
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            color: var(--text-color-black);
            margin-right: 0.5rem;
        } 
        span {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: var(--text-color-black);
            margin-left: 0.3125rem;
            margin-right: 0.75rem;
        } 
        input[type='radio']:after {
            appearance: none;
            width: 0.9375rem;
            height: 0.9375rem;
            border-radius: 0.9375rem;
            top: 0.125rem;
            left: -0.0625rem;
            position: relative;
            background-color: var(--white-color);
            content: '';
            display: inline-block;
            visibility: visible;
            border: 0.0625rem solid var(--text-color-black);
}
        input[type='radio']:checked:after {
            appearance: none;
            width: 0.9375rem;
            height: 0.9375rem;
            border-radius: 0.9375rem;
            top: 0.125rem;
            left: -0.0625rem;
            position: relative;
            background-color: var(--orange-standart);
            content: '';
            display: inline-block;
            visibility: visible;
            border: 0.1875rem solid var(--white-color);
            outline: 1px solid var(--orange-standart);

        }     
    }
    &__searchForm {
        margin-top: 0.9375rem;
        display: flex;  
        flex: 1 1 auto;
        width: 100%;
        align-items:center;
        text-align: center;
        flex-direction: column;     
        &__inputBox {
            position: relative;
            align-items: center;
            img {
                // display: none;
                position: absolute;
                padding: 1.5625rem 1rem 1.0625rem 1.0625rem;                
            }
            input {
                min-width: 19.625rem;
                margin-top: 0.625rem;
                padding: 1.0625rem 0 1.0625rem 3.375rem;
                border-radius: 1.25rem;
                border: 1px solid var(--orange-border-solid);
                background: var(--white-color);                
            }
            input[class="datePicker"]::-webkit-calendar-picker-indicator {
                position: absolute;
                background-image: url("img/input-icon2.svg");
                background-size: 150%;
                background-position-x: center;
                background-position-y: center;
                opacity: 0.1;
                left: 1.1563rem;
                top: 1.6563rem;
            }
        }
    }
    &__searchBtn {
        button {
            border-radius: 1.25rem;
            background: linear-gradient(180deg, #EF6446 0%, #DB4A2A 100%);
            margin: 0.9375rem 1.25rem 1.875rem;
            min-width: 19.625rem;
            padding: 0 6.25rem 0;
            display: flex;
            align-items: center;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            color: var(--white-color);
        }
        img {
            padding: 1rem 0.625rem 1rem;
        }      
    }
}