.news {
	&__container {
		display: flex;
		flex-direction: column;
		align-items: start;
		margin-bottom: 13.75rem;
	}
	&__year {
		display: flex;
		align-items: center;
		margin-right: -0.875rem;
		select {
			z-index: 1;
			overflow: hidden;
			background-color: transparent;
			border: 0.0625rem solid #EB8069;		
			border-radius: 1.875rem;
			padding: 1.25rem 6.25rem 1.25rem 2.8125rem;
  		-webkit-appearance: none;
  		-moz-appearance: none;
			font-size: 1.5rem;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			color: var(--text-color-black);
			option {				
				background-color: var(--white-color);
			}
		}
		svg {
			position: relative;
			left: -2.75rem;
		}
	}
	&__header {				
	}
	&__title {
		margin-top: 15.625rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		h2 {
			font-size: 4rem;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			color: var(--text-color-black);
		}		
	}
	&__descr {
		margin-top: 2.8125rem;
		font-size: 1.875rem;
		font-style: normal;
		font-weight: 400;
		line-height: 140%; /* 2.625rem */
		color: var(--text-color-black);
		p {			
			margin-right: 37.5rem;
		}
	}
	&__tags {
		margin-top: 4.375rem;
		display: flex;
		flex-direction: row;
		gap: 1.875rem;
	}
	.tagBtn {
		padding: 1.25rem 3.4375rem;
		border-radius: 1.875rem;
		border: 0.0625rem solid #EC6041;
	}
	.tagBtn:hover {
		cursor: pointer;
		color: var(--white-color);
	  background: linear-gradient(180deg, #EF6446 0%, #DB4A2A 100%);
	}
	&__content {
		margin-top: 4.6875rem;
		display: grid;
		grid-template-columns: 3fr 3fr 3fr;
		grid-template-rows: 3fr 3fr 3fr;
		gap: 5rem 8.75rem;
	}
	&__contentItem {
		display: flex;
		flex-direction: column;
	}	
	&__itemBox {
		border-radius: 1.875rem;
		overflow: hidden;
		max-width: fit-content;
		max-height: fit-content;
		flex-shrink: 0;
		img {
			width: 100%;
		}
	}
	&__itemDate {
		margin-top: 1.5625rem;
		font-size: 1.25rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		color: var(--text-color-black);
	}
	&__itemDescr {
		margin-top: 1.875rem;		
		font-size: 2rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		color: var(--text-color-black);
		text-decoration-line: underline;
	}	
	&__itemDescr:hover {
		cursor: pointer;
		text-decoration-line: none;
	}
}
