.policy {
	&__container {
		@media (min-width: $pc) {
			align-items: start;
			margin-bottom: 12.5rem;
		}
	}
	&__content {
		@media (min-width: $pc) {
			max-width: 65%;
			align-items: start;
			margin-bottom: 12.5rem;
		}
	}
}
.policyLineOrange {
	background: #F5BFB4;
	height: 0.125rem;
	margin-bottom: 3.0625rem;
}