.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #FFF 0%, #FFF 100%), rgba(18, 4, 1, 0.40);
    transition: left 0.25s ease 0s;
    transform: translate(-100%, 0px);
    &__header {
       height: 4.75rem;
       padding: 0 0.5rem;
       display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__left {

    }
    &__right {
        display: flex;
        align-items: center;
    }
    &__entryBtn {
        border-radius: 1.125rem;
        background: linear-gradient(180deg, #EF6446 0%, #DB4A2A 100%);
        color: var(--white-color);
        padding: 0.75rem 0.8125rem;
        color: #FFF;
        font-family: Segaon;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        display: flex;
        align-items: center;
        img {
            margin-right: 0.4375rem;
        }
    }
    &__closeBtn {
        padding: 1.375rem;
    }
    &__nav {
        margin: 1.5rem 0 0 0;
    }
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__list-item {
        text-transform: uppercase;
        color: var(--text-color-black-sec);
        font-size: 1rem;
        display: flex;
        align-items: center;
        padding: 1rem 0;
    }
    &__ref {

    }
    &__contact {

    }
    &__links {

    }
}
.menu._active {
    transform: translate(0px,0px);
    
}