.profile {
	&__container {	
	}
	&__tabs {
		display: flex;
		flex-direction: column;
		margin: 3.75rem 0 0 0;
		@media screen and (min-width:$tablet) {
			flex-direction: row;
			margin: 10.9375rem 0 0 0;
		}
	}
	&__wrapper-navigation {
		display: flex;
		justify-content: center;
		gap: 1rem;
		height: 100%;
		@media screen and (min-width:$mobile) {
			gap: 1.25rem;
		}
		@media screen and (min-width:$tablet) {
			flex-direction: column;
			justify-content:flex-start;
			gap: 0;
			border: 0.0625rem solid var(--orange-color);
			border-radius: 1.875rem;
		}
	}
	&__navigation {
		display: flex;
		overflow: hidden;
		gap: 1rem;
		@media screen and (min-width:$mobile) {
			gap: 1.25rem;
		}
		@media screen and (min-width:$tablet) {
			flex-direction: column;
			border-top-right-radius: 1.875rem;
			border-top-left-radius: 1.875rem;
			gap: 0;
		}
	}
	&__navigation-item {
		color: var(--text-color-black);
		font-size: 1.75rem;
		font-weight: 400;
		line-height: 2.125rem;
		letter-spacing: 0em;
		text-align: left;
		cursor: pointer;
		display: flex;
		@media screen and (min-width:$tablet) {
			width: 22.5rem;
			padding: 2.1875rem 0 2.1875rem 1.5625rem;
			align-items: center;
			border-bottom: 0.0625rem solid var(--orange-color);
			svg {
				width: 2rem;
				height: 2rem;
				@media screen and (min-width:$pc) {
					width: 2.625rem;
					height: 2.625rem;
				}
			}
		}
		@media screen and (min-width:$pc) {
			padding: 2.5rem 0 2.5rem 2.5rem;
		}
	}
	&__navigation-item:last-child {
		@media screen and (min-width:$tablet) {
			border-bottom: none
		}
	}
	&__navigation-item:nth-child(7) {
		@media screen and (min-width:$tablet) {
			border-bottom: 0.0625rem solid var(--orange-color);		
		}
	}
	&__navigation-text {
		display: none;
		@media screen and (min-width:$tablet) {
			display: flex;
			margin: 0 0 0 0.9375rem;
			color: #171717;
			font-size: 1.25rem;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
		}
		@media screen and (min-width:$pc) {
			margin: 0 0 0 1.25rem;
		}
	}
	&__content {
		@media screen and (min-width:$tablet) {
			width: 100%;
			margin: 0 0 0 2.5rem;
		}
	}
	&__tab {

	}
	&__personals-wrapper {
	}
	&__personals-editWrapper {
		display: none;
	}
	&__tab-title {
		margin: 3.4375rem 0 0 0;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		h4 {
			color: #171717;
			text-align: center;
			font-size: 2rem;
			font-style: normal;
			font-weight: 600;
			line-height: 110%; /* 2.2rem */
			@media screen and (min-width:$pc) {
				font-size: 2.25rem;
			}
		}
		span {
			color: #171717;
			font-size: 1rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			margin-top: 1.125rem;
			@media screen and (min-width:$mobile) {
				margin-top: 0;
			}
			@media screen and (min-width:$pc) {
				font-size: 1.25rem;
			}
			@media screen and (min-width:$full) {
				font-size: 1.5rem;
			}
		}
		@media screen and (min-width:$mobile) {
			display: flex;
			justify-content: space-between;
			flex-direction: row;
			align-items: center;
		}
		@media screen and (min-width:$tablet) {
			margin: 0;
		}
	}
	&__bill-box {
		margin-top: 0.75rem;
		display: flex;
		align-items: center;
		span {
			margin-top: 0;
			color: #171717;
			text-align: right;
			font-size: 1.5rem;
			font-style: normal;
			font-weight: 600;
			line-height: 140%; /* 33.6px */
			@media screen and (min-width:$full) {
				font-size: 1.875rem;
			}
		}
		svg {
			margin-left: 0.625rem;
			@media screen and (min-width:$full) {
				width: 2.5rem;
				height: 2.5rem;
			}
		}
		@media screen and (min-width:$mobile) {
			margin-top: 0;
		}
	}
	&__bill-link {
		margin-top: 0.75rem;
		color: #3C88F9;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		text-decoration-line: underline;
		@media screen and (min-width:$mobile) {
			font-size: 1rem;
			margin-top: 0;
		}
		@media screen and (min-width:$full) {
			font-size: 1.25rem;
		}
	}
	&__tab-titleCount {
		position: absolute;
		color: #7D7D7D;
		font-size: 1rem;
		font-style: normal;
		font-weight: 400;
		line-height: 100%; /* 1rem */
	}
	&__editBox {
		display: none;
		@media screen and (min-width:$mobile) {
			display: flex;
			align-items: center;
			color: #3C88F9;
			font-size: 0.875rem;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			text-decoration-line: underline;
			a {
				display: flex;
				align-items: center;
			}
			svg {
				margin: 0 0.625rem 0 0;
			}
		}
		@media screen and (min-width:$pc) {
			font-size: 1rem;
		}
		@media screen and (min-width:$full) {
			font-size: 1.25rem;
		}
	}
	&__tab-content {

	}
	&__tab-footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1.5625rem 0 7.5rem 0;
		@media screen and (min-width:$mobile) {
			flex-direction: row;
			justify-content: space-between;
			padding: 2.1875rem 0 7.5rem 0;
		}
	}
	&__tab-supportBtn {
		display: flex;
		align-items: center;
		color: var(--text-color-blue);
		font-size: 1rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		text-decoration-line: underline;
		order: 1;
		svg {
			margin: 0 0.5rem 0 0;
			@media screen and (min-width:$mobile) {
				margin: 0 1.25rem 0 0;
				width: 1.875rem;
				height: 1.875rem;
			}
		}
	}
	&__tab-supportBtn:hover {
		cursor: pointer;
		text-decoration-line: none;
		svg { 
			border-radius: 3.125rem;   
			background-color: var(--text-color-blue);
				path {
						fill: var(--white-color); 
				}
		}   
	}
	&__tab-id {
		display: flex;
		align-items: center;
		color: #000;
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		margin: 0 0 1.25rem 0;
		@media screen and (min-width:$mobile) {
			font-size: 1.25rem;
			margin: 0;
			order: 2;
		}
		span {
			color: #7D7D7D;
			font-size: 1.125rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			margin: 0 0.625rem 0 0;
			@media screen and (min-width:$mobile) {
				margin: 0 0.625rem 0 0;
			}
		}
	}
	&__lineOrange {
		height: 0.0625rem;
		margin: 1.25rem 0 0 0;
		background-color: var(--orange-color);
	}
	&__field {
		display: flex;
		align-items: center;
		color: #000;
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		margin: 0 0 1.25rem 0;
		@media screen and (min-width:$mobile) {
			flex-direction: column;
			align-items: flex-start;
			font-size: 1.25rem;
		}
		span {
			color: #7D7D7D;
			font-size: 1.125rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			margin: 0 0.625rem 0 0;
			@media screen and (min-width:$mobile) {
				margin: 0 0 0.625rem 0;
			}
		}
	}
}

//personal data
.personals {
	border-radius: 1.25rem;
	background: #FFF8F6;
	margin: 2.75rem 0 0 0;
	display: flex;
	flex-direction: column;
	@media screen and (min-width:$mobile) {
		flex-direction: row;
		padding: 1.25rem 1.25rem 2.8125rem 1.25rem;
		margin: 2.75rem 0 1.875rem 0;
	}
	&__imageData {
	}
	&__editBox {
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin: 1.875rem 0 0 0;
		@media screen and (min-width:$mobile) {
			display: none;
		}
	}
	&__editBtn {
		display: flex;
		justify-content: center;
		align-items: center;
		color: #3C88F9;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		text-decoration-line: underline;
		svg {
			margin: 0 0.625rem 0 0;
		}
	}
	&__uploadBox {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__photoBox {
		margin: 1.5625rem 0 0 0;
		border-radius: 1.875rem;
		overflow: hidden;
		display: flex;
		width: 15.625rem;
		height: 15.625rem;
		@media screen and (min-width:$mobile) {
			margin: 0;
		}
		img {
			width: 100%;
			max-width: 100%;
			height: auto;
		}
	}
	&__changeBox {
		display: flex;
		width: 15.625rem;
		justify-content: space-between;
		margin: 1.5625rem 0 0 0;
		@media screen and (min-width:$mobile) {
			margin: 1.875rem 0 0 0;
			flex-direction: column;
			align-items: start;
		}
		input {
			display: none;
		}
	}
	&__uploadBtn {
		display: block;
		cursor: pointer;
		user-select: none;
		color: #E55738;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		text-decoration-line: underline;
		@media screen and (min-width:$mobile) {
		font-size: 1rem;
		}
	}
	&__uploadBtn:hover {
		text-decoration: none;
	}
	&__deleteBtn {
		color: #3C88F9;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		text-decoration-line: underline;
		display: flex;
		align-items: center;
		gap: 0.3125rem;
		@media screen and (min-width:$mobile) {
			margin: 0.9375rem 0 0 0;
			font-size: 1rem;
		}
	}
	&__deleteBtn:hover {
		text-decoration-line: none;
	}
	&__fieldsGroup {
		display: flex;
		flex-direction: column;
		padding: 2.5rem 0.625rem;
		@media screen and (min-width:$mobile) {
			margin: 0 0 0 1.25rem;
			padding: 0;
			width: 100%;
		}
	}
	&__field {
		display: flex;
		align-items: center;
		color: #000;
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		margin: 0 0 1.25rem 0;
		@media screen and (min-width:$mobile) {
			flex-direction: column;
			align-items: flex-start;
			font-size: 1.25rem;
		}
		span {
			color: #7D7D7D;
			font-size: 1.125rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			margin: 0 0.625rem 0 0;
			@media screen and (min-width:$mobile) {
				margin: 0 0 0.625rem 0;
			}
		}
	}
	&__field:last-child {
		margin: 0 0 0 0;
	}
	&__fieldSocials {
		display: flex;
		gap: 0.5rem;
		@media screen and (min-width:$mobile) {
			gap: 1.25rem;
			svg {
				width: 1.875rem;
				height: 1.875rem;
			}
		}
	}
	&__passChange {
		padding: 1.875rem 0 2.5rem 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media screen and (min-width:$mobile) {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 1.875rem 0 0 0;
		}
	}
	&__passChangeBtn {
		display: flex;
		align-items: center;
		color: var(--text-color-blue);
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		text-decoration-line: underline;
		margin: 0 0 1.5625rem 0;
		svg {
			margin: 0 0.3125rem 0 0;
			width: 0.6572rem;
			height: 0.875rem;
			flex-shrink: 0;
			@media screen and (min-width:$mobile) {
				width: 0.7859rem;
				height: 1rem;
				flex-shrink: 0;
			}
			@media screen and (min-width:$pc) {
				width: 0.8842rem;
				height: 1.125rem;
				flex-shrink: 0;
			}
		}
		@media screen and (min-width:$mobile) {
			font-size: 1.25rem;
			margin: 0;
		}
	}
	&__deleteProfileBtn {
		display: flex;
		align-items: center;
		color: var(--text-color-blue);
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		text-decoration-line: underline;
		svg {
			margin: 0 0.3125rem 0 0;
			width: 0.5894rem;
			height: 0.75rem;
			flex-shrink: 0;
			@media screen and (min-width:$mobile) {
				width: 0.7859rem;
				height: 1rem;
				flex-shrink: 0;
			}
			@media screen and (min-width:$pc) {
				width: 0.8842rem;
				height: 1.125rem;
				flex-shrink: 0;
			}
		}
		@media screen and (min-width:$mobile) {
			font-size: 1rem;
		}
	}
}

//personal edit data
.personalsEdit {
	@media screen and (min-width:$pc) {
		display: flex;
		margin: 4.0625rem 0 0 0;
	}
	&__imageData {
		@media screen and (min-width:$pc) {
			display: flex;
			margin: 0 2.5rem;
			flex-direction: column;
		}
	}
	&__editBox {
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin: 1.875rem 0 0 0;
		@media screen and (min-width:$mobile) {
			display: none;
		}
	}
	&__editBtn {
		display: flex;
		justify-content: center;
		align-items: center;
		color: #3C88F9;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		text-decoration-line: underline;
		svg {
			margin: 0 0.625rem 0 0;
		}
	}
	&__uploadBox {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__photoBox {
		margin: 1.5625rem 0 0 0;
		border-radius: 1.875rem;
		overflow: hidden;
		display: flex;
		width: 15.625rem;
		height: 15.625rem;
		border-radius: 1.875rem;
		background: #FFF8F6;
		@media screen and (min-width:$mobile) {
			margin: 0;
		}
		img {
			width: 100%;
			max-width: 100%;
			height: auto;
			
		}
	}
	&__photoBox::before {
		content: attr(data-img);
		img {
			width: 100%;
			max-width: 100%;			
			height: auto;			
		}
	}
	&__uploadTips {
		@media screen and (min-width:$pc) {
			width: 15.625rem;
			margin: 2.1875rem 0 0 0;
			p 
				{
					color: #7D7D7D;
					font-size: 1.125rem;
					font-style: normal;
					font-weight: 400;
					line-height: 140%; /* 1.575rem */
				}
		}
	}
	&__changeBox {
		display: flex;
		width: 15.625rem;
		justify-content: space-between;
		margin: 1.5625rem 0 0 0;
		@media screen and (min-width:$mobile) {
			margin: 1.875rem 0 0 0;
			flex-direction: column;
			align-items: start;
		}
		input {
			display: none;
		}
	}
	&__uploadBtn {
		display: block;
		cursor: pointer;
		user-select: none;
		color: #E55738;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		text-decoration-line: underline;
		@media screen and (min-width:$mobile) {
		font-size: 1rem;
		}
	}
	&__uploadBtn:hover {
		text-decoration: none;
	}
	&__deleteBtn {
		color: #3C88F9;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		text-decoration-line: underline;
		display: flex;
		align-items: center;
		gap: 0.3125rem;
		@media screen and (min-width:$mobile) {
			margin: 0.9375rem 0 0 0;
			font-size: 1rem;
		}
	}

	&__form {
		display: flex;
		@media screen and (min-width:$pc) {
			width: 100%;
		}
	}
	&__right {
		width: 100%;
	}
	&__input-group {
		margin-bottom: 4.0625rem;
	}
	&__input-group:first-child {
		margin-top: 1.25rem;
	}
	&__input-title {
		margin: 0 0 2.8125rem 0;
		svg {
			margin: 0 1.25rem 0 0;
		}
		h4 {
			color: #E55738;
			font-size: 1.5rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}
		.personals__lineOrange {
			margin: 1.25rem 0 0 0;
		}
	}
	&__input-fields {
		display: flex;
		position: relative;
		gap: 1.25rem;
		margin: 0 0 2.5rem 0;
	}
	&__input-fields:last-child {
		margin-bottom: 0;
	}
	&__input-field {
		position: relative;
		label {
			position: absolute;
			color: #7D7D7D;
			font-size: 1rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			z-index: 2;
			top: -0.625rem;
			margin-left: 1.5625rem;
			background: var(--white-color);
			padding: 0 0.5625rem;
		}
		input {
			position: relative;
			width: 23.625rem;
			flex-shrink: 0;
			border-radius: 1.875rem;
			border: 0.0625rem solid #AAA;
			z-index:1;
			color: #000;
			font-size: 1.5rem;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			padding: 1.25rem 1.5625rem;
		}
	}
	&__buttons {
		display: flex;
		justify-content: space-between;
		margin: 3.4375rem 0 0 0;
	}
	&__button-group {
		display: flex;
	}
	&__button-close {
		padding: 1rem;
		border-radius: 1.875rem;
		background: linear-gradient(180deg, #64A2FF 0%, #2A86DB 100%);
		color: var(--white-color);
		padding: 1.25rem 2.8125rem;
		display: flex;
		align-items: center;
		font-size: 1.5rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		margin-right: 0.9375rem;
		svg {
			margin-right: 0.625rem;
		}
	}
	&__button-close:hover {
		background: linear-gradient(180deg, #2A86DB 0%, #64A2FF 100%);
	}
	&__button-save {
		padding: 1rem;
		border-radius: 1.875rem;
		background: linear-gradient(180deg, #EF6446 0%, #DB4A2A 100%);
		color: var(--white-color);
		font-size: 1.5rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		display: flex;
		align-items: center;
		padding: 1.25rem 2.8125rem;
		svg {
			margin-right: 0.625rem;
		}
	}
	&__button-save:hover {
		background: linear-gradient(180deg, #DB4A2A 0%, #EF6446 100%);
	}
	&__button-delete {
		padding: 1rem;
		color: #3C88F9;
		display: flex;
		align-items: center;
		font-size: 1.25rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		text-decoration-line: underline;
		svg {
			margin-right: 0.625rem;
		}
	}
	&__button-delete:hover {
		text-decoration-line: none;
	}
	&__showPass, &__showNewPass, &__showRepeatPass {
		position: absolute;
		z-index: 1;
		right: 3.75rem;
		top: 1.4375rem;
		svg {
			z-index: 1;
			height: 1.4375rem;
			position: absolute;
		}
	}
	&__tips {
		margin: 1.25rem 0 0 0;
		display: flex;
		gap: 2.8125rem;
	}
	&__tip {
		display: flex;
		align-items: center;
		color: #7D7D7D;
		font-size: 1rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		svg {
			margin: 0 0.625rem 0.625rem 0;
		}
	}
	&__tip:last-child {
		color: #F00;
	}
	&__busyNickname {
		display: none;
		position: absolute;
		top: 4.0625rem;
		flex-direction: row;
		margin-top: 0.625rem;
		height: fit-content;
		align-items: center;
		color: #F00;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}
	&__invalidNickname {
		display: none;
		position: absolute;
		top: 4.0625rem;
		flex-direction: row;
		margin-top: 0.625rem;
		height: fit-content;
		align-items: center;
		color: #F00;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}
	&__busyEmail {
		display: none;
		position: absolute;
		top: 4.0625rem;
		flex-direction: row;
		margin-top: 0.625rem;
		height: fit-content;
		align-items: center;
		color: #F00;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	} 
	&__busyNumber {
		display: none;
		position: absolute;
		top: 4.0625rem;
		flex-direction: row;
		margin-top: 0.625rem;
		height: fit-content;
		align-items: center;
		color: #F00;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}
	&__currPassErr {
		display: none;
		position: absolute;
		top: 4.0625rem;
		flex-direction: row;
		margin-top: 0.625rem;
		height: fit-content;
		align-items: center;
		color: #F00;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}
	&__newPassErr {
		display: none;
		position: absolute;
		top: 4.0625rem;
		flex-direction: row;
		margin-top: 0.625rem;
		height: fit-content;
		align-items: center;
		color: #F00;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}
	&__repeatPassErr {	
		display: none;
		position: absolute;
		top: 4.0625rem;
		flex-direction: row;
		margin-top: 0.625rem;
		height: fit-content;
		align-items: center;
		color: #F00;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
}
// .validationError {
// }
	&__invalidInformation {
		display: none;
		flex-direction: row;
		margin-top: 1.25rem;
		align-items: center;
		color: #F00;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}
	.errorSignSvg {
		display: flex;
		scale: 80%;	
		margin-right: 0.625rem;
	}
	&__passTip {
		color: #7D7D7D;
		margin-top: -2.1875rem;
		margin-bottom: 2.1875rem;
		max-width: 33.125rem;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		background: var(--white-color);
	}
}

._tab-active {
	color: var(--orange-color);
	font-size: 1.75rem;
	font-weight: 600;
	line-height: 2.125rem;
	letter-spacing: 0em;
	text-align: left;
	background: #FFF8F6;
	svg {
		path {
			fill: var(--orange-color);
		}
		path:nth-child(2) {
			fill: #fff;
		}
	}
	.profile__navigation-text {
		color: #E55738;
	}
}

.profile__personals-editWrapper._active {
	display: flex;
	flex-direction: column;
}
.profile__personals-wrapper._hide {
	display: none;
}

// profileLinks

.profileLinks {
	border-radius: 1.25rem;
  background: #FFF8F6;
	display: flex;
	flex-direction: column;
	margin: 2.75rem 0 0 0;
	overflow: hidden;
	padding: 1.1875rem 0 0 0;
	@media screen and (min-width:$mobile) {
	}
	&__wrapper {
		display: flex;
		align-items: center;
	}
	&__navigation {
		display: none;
		@media screen and (min-width:$mobile) {
			display: flex;
			align-items: center;
			gap: 2.8125rem;
		}
	}
	&__slider {
		padding: 0 0.4375rem 0 0.4375rem;
		@media screen and (min-width:$mobile) {
			padding: 0 1.0625rem 0 1.0625rem;
		}
		@media screen and (min-width:$pc) {
			padding: 0 2.1875rem 0 2.1875rem;
		}
	}
	&__greyLine {
		height: 0.125rem;
		width: 100%;
		background: #F3ECEC;
		top: -0.125rem;
		padding: 0 0.4375rem 0 0.4375rem;
		margin-top: -0.125rem;
	}
	&__navigation-item {
		color: #7D7D7D;
		font-size: 1rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		padding: 0 0 0.75rem 0;
		cursor: pointer;
		@media screen and (min-width:$mobile) {
			padding: 0 0 1.5rem 0;
		}
	}
	&__tab {
		margin-top: 2.4375rem;
		@media screen and (min-width:$pc) {
			margin-top: 1.875rem;
		}
	}
	&__tab-itemWrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-top: 2.4375rem;
		@media screen and (min-width:$mobile) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
		@media screen and (min-width:$full) {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		}
	}
	&__tab-item {
		align-items: center;
		display: flex;
		flex-direction: column;
	}
	&__tab-photo {
		border-radius: 0.875rem;
		overflow: hidden;
		width: 8.75rem;
		height: 11.875rem!important;
		img {
			width: 100%;
			height: 100%;
		}
		@media screen and (min-width:$pc) {
			width: 11.5rem;
			height: 14.625rem!important;
			border-radius: 1.875rem;
		}
	}
	&__tab-text {
		width: 8.75rem;
		text-align: center;
		padding: 0.8125rem 0 1.8125rem 0;
		@media screen and (min-width:$pc) {
			width: 11.5rem;
		}
	}
	&__tab-initials {
		color: #040404;
		text-align: center;
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		text-decoration-line: underline;
		@media screen and (min-width:$pc) {
			font-size: 1.25rem;
		}
	}
	&__tab-relative {
		color: #7D7D7D;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		margin-top: 0.75rem;
		@media screen and (min-width:$pc) {
			font-size: 1rem;
		}
	}
	&__tab-dates {
		color: #171717;
		font-size: 0.75rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		margin-top: 0.625rem;
		@media screen and (min-width:$pc) {
			font-size: 0.875rem;
		}
	}
	._profile-active {
		color: #171717;
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		border-bottom: 0.125rem solid #E55738;
		@media screen and (min-width:$mobile) {
			font-size: 1.25rem;
		}
		@media screen and (min-width:$pc) {
			font-size: 1.5rem;
		}
	}
}

// bill
.profileBill {
	margin-top: 1.875rem;
	display: flex;
	gap: 0.9375rem;
	flex-direction: column;
	&__item	{
		padding: 1.25rem 0.625rem;
		border-radius: 1.25rem;
		background: #FFF8F6;
		display: flex;
		flex-direction: column;
		@media screen and (min-width:$mobile) {
			padding: 1.5625rem 0.9375rem;
		}
		@media screen and (min-width:$pc) {
			padding: 2.1875rem;
			border-radius: 1.875rem;
		}
	}
	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 0.9375rem;
		margin-top: 0.9375rem;
		@media screen and (min-width:$mobile) {
			flex-direction: row;
			margin-top: 1.875rem;
			align-items: center;
			justify-content: space-between;
		}
	}
	span {
		text-align: center;
		color: #7D7D7D;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 400;
		line-height: 100%; /* 14px */
		@media screen and (min-width:$mobile) {
			font-size: 1rem;
			text-align: start;
		}
		@media screen and (min-width:$pc) {
			font-size: 1.125rem;
		}
		@media screen and (min-width:$full) {
			font-size: 1.5rem;
		}
	}
	&__balance {
		display: flex;
		justify-content: space-between;
		align-items: center;
		span {
			color: #2F2F2F;
			font-size: 1rem;
			font-style: normal;
			font-weight: 600;
			line-height: 100%; /* 16px */
			display: flex;
			align-items: center;
			@media screen and (min-width:$pc) {
				font-size: 1.25rem;
			}
			@media screen and (min-width:$full) {
				font-size: 1.5rem;
			}
		}
		svg {
			margin-left: 0.625rem;
			width: 1.5rem;
			height: 1.5rem;
			@media screen and (min-width:$mobile) {
				width: 2rem;
				height: 2rem;
			}
		}
		@media screen and (min-width:$mobile) {
			justify-content: flex-start;
			order: 1;
			gap: 1.875rem;
		}
	}
	&__card {
		display: flex;
		align-items: center;
		color: #212121;
		font-size: 1rem;
		font-style: normal;
		font-weight: 700;
		line-height: 100%; /* 16px */
		@media screen and (min-width:$pc) {
			font-size: 1.25rem;
		}
		@media screen and (min-width:$full) {
			font-size: 1.5rem;
		}
		svg {
			margin-left: 0.625rem;
			@media screen and (min-width:$pc) {
				width: 3.125rem;
				height: 1rem;
			}
		}
		@media screen and (min-width:$mobile) {
			order: 2;
		}
	}
	&__btn {
		display: flex;
		justify-content: center;
		button {
			padding: 0.8125rem 1.75rem;
			border-radius: 1.25rem;
			background: var(--orange-color);
			color: #FFF;
			font-size: 1rem;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			@media screen and (min-width:$pc) {
				font-size: 1.25rem;
				padding: 1.4375rem 2.875rem;
				border-radius: 1.875rem;;
			}
		}
		@media screen and (min-width:$mobile) {
			order: 3;
		}
	}
	&__navigation-wrapper {
		display: flex;
		align-items: center;
		gap: 1.25rem;
		@media screen and (min-width:$mobile) {
			gap: 2.8125rem;
		}
		@media screen and (min-width:$pc) {
			gap: 3.3125rem;
		}
		@media screen and (min-width:$full) {
			gap: 3.625rem;
		}
	}
	&__navigation-item {
		padding: 0 0 0.75rem 0;
    	cursor: pointer;
		@media screen and (min-width:$mobile) {
			padding: 0 0 1.5rem 0;
		}
		span {
			font-size: 0.875rem;
			@media screen and (min-width:$mobile) {
				font-size: 1rem;
			}
			@media screen and (min-width:$pc) {
				font-size: 1.125rem;
			}
			@media screen and (min-width:$full) {
				font-size: 1.25rem;
			}
		}
	}
	&__tabList-header {
		display: grid;
		grid-template-columns: 4.3125rem 4.1875rem 4.75rem 4.3125rem 3.4375rem;
		border-bottom: 2px solid #f3ecec;
		@media screen and (min-width:$mobile) {
			grid-template-columns: 8.125rem 13rem 7.5625rem 6.8125rem 6.375rem;
			padding: 1.625rem 0;
		}
		@media screen and (min-width:$tablet) {
			grid-template-columns: 8.125rem 14.0625rem 7.5625rem 6.8125rem 6.375rem;
		}
		@media screen and (min-width:$pc) {
			grid-template-columns: 9.375rem 17.9375rem 12.125rem 11.4375rem 6.375rem;
			padding: 1.3125rem 0;
		}
		@media screen and (min-width:$full) {
			grid-template-columns: 10.125rem 22rem 16.1875rem 18.125rem 7.5625rem;
			padding: 2.5rem 0;
		}
	}
	&__tabList-headerItem {
		font-weight: 400;
		font-size: 0.75rem;
		line-height: 100%;
		color: #7d7d7d;
		padding: 0.625rem 0;
		@media screen and (min-width:$mobile) {
			font-size: 1rem;
		}
		@media screen and (min-width:$pc) {
			font-size: 1.125rem;
		}
		@media screen and (min-width:$full) {
			font-size: 1.25rem;
		}
	}
	&__tabList-item {
		border-bottom: 2px solid #f3ecec;
		padding: 1rem 0;
	}
	&__tabList-item:last-child {
		border-bottom: none;
		padding-bottom: 0;
	}
	._bill-active {
		color: #171717;
		border-bottom: 0.125rem solid #E55738;
		z-index: 2;
		span {
			color: #171717;
			font-size: 1rem;
			font-style: normal;
			font-weight: 600;
			@media screen and (min-width:$mobile) {
				font-size: 1.25rem;
			}
			@media screen and (min-width:$pc) {
				font-size: 1.5rem;
			}
		}
	}
}

.billDetail	{
	display: flex;
	align-items: center;
	justify-content: space-between;
	@media screen and (min-width:$mobile) {
		padding: 1.625rem 0;
	}
	@media screen and (min-width:$pc) {
		padding: 1.3125rem 0;
	}
	@media screen and (min-width:$full) {
		padding: 2.5rem 0;
	}
	&__card {
		font-weight: 700;
		font-size: 0.75rem;
		line-height: 100%;
		color: #212121;
		@media screen and (min-width:$mobile) {
			font-size: 1rem;
		}
		@media screen and (min-width:$full) {
			font-size: 1.25rem;
		}
	}
	&__text {
		display: none;
		@media screen and (min-width:$mobile) {
			display: block;
			font-weight: 400;
			font-size: 0.875rem;
			line-height: 100%;
			color: #212121;
		}
		@media screen and (min-width:$full) {
			font-size: 1.25rem;
		}
	}
	&__coin {
		display: flex;
		align-items: center;
		font-weight: 700;
		font-size: 0.875rem;
		line-height: 100%;
		color: #212121;
		@media screen and (min-width:$mobile) {
			font-size: 1.125rem;
		}
		@media screen and (min-width:$mobile) {
			font-size: 1.5rem;
		}
		svg {
			margin-left: 0.1875rem;
			@media screen and (min-width:$mobile) {
				margin-left: 0.5rem;
				height: 1.875rem;
				width: 1.875rem;
			}
			@media screen and (min-width:$mobile) {
				height: 2rem;
				width: 2rem;
			}
		}
	}
	&__date {
		font-weight: 400;
		font-size: 0.625rem;
		line-height: 130%;
		display: flex;
		flex-direction: column;
		span {
			color: #212121;
			text-align: left;
			line-height: 1.2;
		}
		@media screen and (min-width:$mobile) {
			font-size: 0.875rem;
		}
		@media screen and (min-width:$pc) {
			font-size: 1rem;
		}
		@media screen and (min-width:$full) {
			font-size: 1.25rem;
			flex-direction: row;
			gap: 0.5rem;
		}
	}
	&__repeat {
		font-weight: 600;
		font-size: 0.625rem;
		text-decoration: underline;
		color: #3c88f9;
		@media screen and (min-width:$mobile) {
			font-size: 1rem;
		}
		@media screen and (min-width:$full) {
			font-size: 1.25rem;
		}
	}
}

.billHistory {
	display: grid;
	grid-template-columns: 4.3125rem 4.1875rem 4.75rem 4.3125rem 3.4375rem;
	align-items: center;
	@media screen and (min-width:$mobile) {
		grid-template-columns: 8.125rem 13rem 7.5625rem 6.8125rem 6.375rem;
		padding: 1.625rem 0;
	}
	@media screen and (min-width:$tablet) {
		grid-template-columns: 8.125rem 14.0625rem 7.5625rem 6.8125rem 6.375rem;
	}
	@media screen and (min-width:$pc) {
		grid-template-columns: 9.375rem 17.9375rem 12.125rem 11.4375rem 6.375rem;
		padding: 1.3125rem 0;
	}
	@media screen and (min-width:$full) {
		grid-template-columns: 10.125rem 22rem 16.1875rem 18.125rem 7.5625rem;
		padding: 2.5rem 0;
	}
	&__id {
		font-weight: 400;
		font-size: 0.625rem;
		line-height: 130%;
		color: #212121;
		@media screen and (min-width:$mobile) {
			font-size: 1rem;
		}
		@media screen and (min-width:$pc) {
			font-size: 1.125rem;
		}
		@media screen and (min-width:$full) {
			font-size: 1.25rem;
		}
	}
	&__cardMobile {
		display: flex;
		align-items: center;
		font-weight: 600;
		font-size: 0.625rem;
		line-height: 100%;
		color: #212121;
		svg {
			margin-right: 0.1875rem;
			width: 0.9375rem;
			height: 0.9375rem;
		}
		@media screen and (min-width:$mobile) {
			display: none;
		}
	}
	&__card {
		display: none;
		align-items: center;
		font-weight: 600;
		font-size: 0.625rem;
		line-height: 100%;
		color: #212121;
		svg {
			margin-right: 0.1875rem;
			width: 0.9375rem;
			height: 0.9375rem;
		}
		@media screen and (min-width:$mobile) {
			display: flex;
			font-size: 1rem;
		}
		@media screen and (min-width:$pc) {
			font-size: 1.125rem;
		}
		@media screen and (min-width:$pc) {
			font-size: 1.25rem;
		}
	}
	&__sum {
		font-weight: 600;
		font-size: 0.625rem;
		line-height: 100%;
		color: #212121;
		@media screen and (min-width:$mobile) {
			font-size: 1rem;
		}
		@media screen and (min-width:$pc) {
			font-size: 1.125rem;
		}
		@media screen and (min-width:$pc) {
			font-size: 1.25rem;
		}
		span {
			font-weight: 600;
			font-size: 0.625rem;
			line-height: 100%;
			color: #212121;
			@media screen and (min-width:$mobile) {
				font-size: 1rem;
			}
			@media screen and (min-width:$pc) {
				font-size: 1.125rem;
			}
			@media screen and (min-width:$pc) {
				font-size: 1.25rem;
			}
		}
	}
	&__date {
		font-weight: 400;
		font-size: 0.625rem;
		line-height: 130%;
		display: flex;
		flex-direction: column;
		span {
			color: #212121;
			font-weight: 400;
			font-size: 0.625rem;
			line-height: 130%;
			text-align: left;
			@media screen and (min-width:$mobile) {
				font-size: 0.875rem;
			}
			@media screen and (min-width:$pc) {
				font-size: 1rem;
			}
			@media screen and (min-width:$full) {
				font-size: 1.25rem;
			}
		}
		@media screen and (min-width:$full) {
			font-size: 1.25rem;
			flex-direction: row;
			gap: 0.5rem;
		}
	}
	&__success {
		display: flex;
		font-weight: 400;
		font-size: 0.625rem;
		line-height: 100%;
		color: #171717;
		align-items: center;
		@media screen and (min-width:$mobile) {
			font-size: 1rem;
		}
		@media screen and (min-width:$full) {
			font-size: 1.25rem;
		}
		svg {
			margin-left: 0.25rem;
			@media screen and (min-width:$mobile) {
				width: 1.625rem;
				height: 1.625rem;
				margin-left: 0.625rem;
			}
			@media screen and (min-width:$full) {
				margin-left: 0.8125rem;
			}
		}
	}
	&__negative {
		display: flex;
		align-items: center;
		font-weight: 400;
		font-size: 0.625rem;
		line-height: 100%;
		color: #7d7d7d;
		justify-content: flex-end;
		@media screen and (min-width:$mobile) {
			font-size: 1rem;
		}
		@media screen and (min-width:$full) {
			font-size: 1.25rem;
		}
		svg {
			margin-left: 0.25rem;
			@media screen and (min-width:$mobile) {
				width: 1.625rem;
				height: 1.625rem;
				margin-left: 0.625rem;
			}
			@media screen and (min-width:$full) {
				margin-left: 0.8125rem;
			}
		}
	}
}

// Settings
.profileSettings {
	border-radius: 1.25rem;
	background: #FFF8F6;
	padding: 1.25rem 1.25rem 2.8125rem 1.25rem;
	margin: 2.75rem 0 1.3125rem 0;
	display: flex;
	flex-direction: column;
	@media screen and (min-width:$mobile) {
		margin: 2.3125rem 0 1.625rem 0;
	}
	@media screen and (min-width:$pc) {
		font-size: 1.25rem;
		margin: 1.75rem 0 2.625rem 0;
	}
	@media screen and (min-width:$full) {
		font-size: 1.5rem;
		margin: 1.6875rem 0 3.375rem 0;
	}
	&__sectionTitle {
		align-items: center;
		color: #000;
		font-size: 1rem;
		font-style: normal;
		font-weight: 600;
		line-height: 100%; /* 1rem */
		position: absolute;
		left: 0;
		top: 0.1875rem;
		margin-left: -17.6875rem;
		@media screen and (min-width:$mobile) {
			font-size: 1.125rem;
			margin-left: -39.25rem;
		}
		@media screen and (min-width:79.875rem) {
			font-size: 1.25rem;
			margin-left: -40.5rem;
		}
		@media screen and (min-width:$pc) {
			font-size: 1.25rem;
			margin-left: -36.5625rem;
		}
		@media screen and (min-width:$full) {
			font-size: 1.5rem;
			margin-left: -38.8125rem;
		}
	}	
	&__sectionDescr {
		color: #7D7D7D;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		@media screen and (min-width:$mobile) {
			margin-top: 0.3125rem;
		}
		@media screen and (min-width:$pc) {
			margin-top: 0.5rem;
		}
		@media screen and (min-width:$full) {
			margin-top: 0.75rem;
		}
	}
	&__notifications {
		color: #000;
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		display: flex;
		flex-direction: column;
		margin-top: 1.375rem;
		@media screen and (min-width:$mobile) {
			margin-top: 1.6875rem;
			font-size: 1.25rem;
		}
		@media screen and (min-width:$pc) {
			margin-top: 1.9375rem;
			font-size: 1.5rem;
		}
		@media screen and (min-width:$full) {
			margin-top: 2.8125rem;
			font-size: 2rem;
		}
	}
	&__notificationsSettings {
		color: #000;
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		display: flex;
		flex-direction: column;
		margin-top: 2.75rem;
		@media screen and (min-width:$mobile) {
			font-size: 1.25rem;
		}
		@media screen and (min-width:$pc) {
			margin-top: 3.875rem;
			font-size: 1.5rem;
		}
		@media screen and (min-width:$full) {
			font-size: 2rem;
		}
	}
	&__updateSettings {
		color: #000;
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		display: flex;
		flex-direction: column;
		margin-top: 2.75rem;
		@media screen and (min-width:$mobile) {
			font-size: 1.25rem;
		}
		@media screen and (min-width:$pc) {
			margin-top: 3.875rem;
			font-size: 1.5rem;
		}
		@media screen and (min-width:$full) {
			font-size: 2rem;
		}
	}
	&__firstSection, &__secondSection, &__thirdSection {
		display: flex;
		flex-direction: column;
		width: 100%;
		@media screen and (min-width:$pc) {
			width: 65%;
		}
		@media screen and (min-width:$full) {
			width: 55%;
		}
	}
	&__emailSwitch, &__phoneSwitch, &__commentariesSwitch, &__transactionsSwitch, &__offeringSwitch, &__followersSwitch,
	&__newsSwitch, &__blogSwitch, &__othersSwitch {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: space-between;
		margin-top: 2rem;
		label {
			margin: 0;
		}
		@media screen and (min-width:$mobile) {
			margin-top: 2.5625rem;
		}
		@media screen and (min-width:$pc) {
			margin-top: 2.875rem;
		}
		@media screen and (min-width:$full) {
			margin-top: 3.5rem;
		}
	}
}
.profileOfferings {
	border-radius: 1.25rem;
	background: #FFF8F6;
	padding: 1.25rem 0.4375rem 2.8125rem 0.4375rem;
	margin: 2.75rem 0 1.3125rem 0;
	display: flex;
	flex-direction: column;
	@media screen and (min-width:$mobile) {
		margin: 2.3125rem 0 1.625rem 0;
		padding: 1.25rem 1.0625rem 2.8125rem 1.0625rem;
	}
	@media screen and (min-width:$pc) {		
		padding: 1.25rem 2.25rem 2.8125rem 1.5rem;
		margin: 1.75rem 0 2.625rem 0;
	}
	@media screen and (min-width:$full) {	
		padding: 1.25rem 2.375rem 2.8125rem 2.375rem;
		margin: 1.6875rem 0 3.375rem 0;
	}
	&__offeringsTable {
		display: flex;
		flex-direction: column;
	}
	&__tableHead {
		display: grid;
		gap: 0.625rem;
		grid-template-columns:1.875rem 2fr 2fr 2fr 2fr;
		align-items: center;
		color: #7D7D7D;
		font-size: 0.75rem;
		font-style: normal;
		font-weight: 400;
		line-height: 100%; /* 0.75rem */
		@media screen and (min-width:$mobile) {
			gap: 1.5625rem;
			grid-template-columns: 3.4375rem 2fr 2fr 2fr 2fr 2fr;
			font-size: 0.875rem;
		}
		@media screen and (min-width:$pc) {
			gap: 1.875rem;
			font-size: 1.125rem;
		}
		@media screen and (min-width:$full) {	
			gap: 2.5rem;
			font-size: 1.25rem;
		}
	}
	&__greyLine {
		margin-top: 1rem;
		width: 100%;
		height: 0.125rem;
		background: #F3ECEC;
		flex-shrink: 0;
	}
	&__tableContent {		
	}
	&__tableItem {
		display: grid;
		position: relative;
		grid-template-columns: 1.875rem 2fr 2fr 2fr 2fr;
		grid-auto-rows: auto;
		gap: 0.625rem;
		padding-top: 0.875rem;
		padding-bottom: 0.625rem;
		align-items: center;
		@media screen and (min-width:$mobile) {
			padding-bottom: 0rem;
			gap: 1.5625rem;
			grid-template-columns: 3.4375rem 2fr 2fr 2fr 2fr 2fr;
		}
		@media screen and (min-width:$pc) {
			gap: 1.875rem;
		}
		@media screen and (min-width:$full) {	
			gap: 2.5rem;
		}
	}
	&__itemImg {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		img { 
			object-fit: cover;
			width: 1.75rem;
			height: auto;
			vertical-align: middle;
			@media screen and (min-width:$mobile) {
				width: 3.375rem;
			}
		}
	}
	&__itemLink {
		color: #3C88F9;
		font-size: 0.625rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
		a {
			text-decoration-line: underline;
		}
		@media screen and (min-width:$mobile) {
			font-size: 0.875rem;
		}
		@media screen and (min-width:$pc) {
			font-size: 1rem;
		}
		@media screen and (min-width:$full) {	
			font-size: 1.25rem;
		}
	}
	&__itemLink a:hover {
		text-decoration-line: none;
	}
	&__itemBeginDate {		
		color: #212121;
		font-size: 0.625rem;
		font-style: normal;
		font-weight: 400;
		line-height: 130%; /* 0.8125rem */
		@media screen and (min-width:$mobile) {
			font-size: 0.875rem;	
		}
		@media screen and (min-width:$pc) {
			font-size: 1rem;
		}
		@media screen and (min-width:$full) {	
			font-size: 1.25rem;
		}
	}
	&__itemCost {
		align-items: center;
		text-align: center;
		display: flex;
		color: #212121;
		font-size: 0.75rem;
		font-style: normal;
		font-weight: 600;
		line-height: 100%; /* 0.75rem */
		svg {
			margin-left: 0.1875rem;
			margin-bottom: 0.125rem;
			width: 0.875rem;
			height: 0.875rem;
			@media screen and (min-width:$mobile) {
				margin-left: 0.1875rem;
				margin-bottom: 0.1875rem;
				width: 1.875rem;
				height: 1.875rem;
			}
			@media screen and (min-width:$pc) {
				margin-left: 0.5rem;
				margin-bottom: 0.1875rem;
			}
			@media screen and (min-width:$full) {
				margin-left: 0.625rem;
				margin-bottom: 0.1875rem;
			}
		}
		@media screen and (min-width:$mobile) {
			font-size: 1.125rem;
		}
		@media screen and (min-width:$pc) {
			font-size: 1.25rem;
		}
		@media screen and (min-width:$full) {	
			font-size: 1.5rem;
		}
	}
	&__itemEndDate {
		color: #212121;
		font-size: 0.625rem;
		font-style: normal;
		font-weight: 400;
		line-height: 130%; /* 0.8125rem */
		@media screen and (min-width:$mobile) {
			font-size: 0.875rem;
		}
		@media screen and (min-width:$pc) {
			font-size: 1rem;
		}
		@media screen and (min-width:$full) {	
			font-size: 1.25rem;
		}
	}
	&__itemExtend {
		position: absolute;
		right: 0;
		bottom: 0;
		margin: 5px 9px 0 0;
		@media screen and (min-width:$mobile) {
			position: relative;
		}
		@media screen and (min-width:$pc) {
		}
		@media screen and (min-width:$full) {	
		}
	}	
	.offeringExtendBtn {
		color: #3C88F9;
		font-size: 0.625rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		text-decoration-line: underline;
		@media screen and (min-width:$mobile) {
			font-size: 0.75rem;
		}
		@media screen and (min-width:$pc) {
			font-size: 0.875rem;
		}
		@media screen and (min-width:$full) {	
			font-size: 1.125rem;
		}
	}
	.offeringExtendBtn:hover {
		text-decoration-line: none;
	}
}