.promo {
	display: flex;
	flex-direction: column;
	@media screen and (min-width:$mobile) {
		display: flex;
		flex-direction: row;
	}
// 	&__overlay {
// 		position: absolute; /* Sit on top of the page content */
// 		display: block;
// 		width: 100%; /* Full width (cover the whole page) */
// 		height: 100%; /* Full height (cover the whole page) */
// 		top: 0; 
// 		left: 0;
// 		right: 0;
// 		bottom: 0;
// 		font-size: 50px;
// 		color: white;
// 		background-color: rgba(0,0,0,0.9); /* Black background with opacity */
// 		z-index: 52; /* Specify a stack order in case you're using a different order for other elements */
// 		cursor: pointer; /* Add a pointer on hover */
		
// 		box-shadow: 0rem 1.1875rem 1.8125rem 0.25rem rgba(78, 54, 48, 0.30);
// 		flex-shrink: 0;
// 		border-radius: 1.25rem;
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 		svg {
				
// 		}
// }
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		order: 2;
		@media screen and (min-width:$mobile) {
			flex: 0 0 50%;
			max-width: 50%;
			order: 1;
		}	
	}
	&__content-header {
		display: none;
		flex-direction: column;
		@media screen and (min-width:$mobile) {
			display: flex;
		}
	}
	&__cover {
		order: 1;
		display: flex;
		flex-direction: column;
		background-image: url("img/promoCover.png");
		background-position: 100% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		height: 28.8125rem;
		@media screen and (min-width:$mobile) {
			flex: 0 0 50%;
			max-width: 50%;
			order: 2;
		}	
	}
	&__cover-btnBox {
		display: flex;
		align-self: flex-end;
		margin: 1rem 1.0625rem 0 0;
	}
	&__cover-header {
		flex-direction: column;
		margin-top: 4.5rem ;
		@media screen and (min-width:$mobile) {
			display: none;
		}	
	}
	&__video {
		display: flex;
		flex-direction: column;
	}
	&__video-play {
		display: flex;
		justify-content: center;
		margin-top: 1.9375rem;
	}
	&__video-text {
		display: flex;
		justify-content: center;
		color: var(--white-color);
		text-align: center;
		font-size: 1rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		margin-top: 0.8125rem;
	}


	// header elements

	&__headerIcon {
		display: flex;
		justify-content: center;
	}
	&__headerTitle {
		color: var(--white-color);
		text-align: center;
		font-size: 2rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		margin-top: 2.375rem;
	}
	&__descr {	
		margin: 2.1875rem 1.5625rem 0 1.5625rem;
		font-size: 0.875rem;
		font-weight: 400;
		line-height: 1.25rem;
		letter-spacing: 0em;
		text-align: center;			
	}
	&__link {
		margin-top: 1.25rem;
		font-size: 1.125rem;
		font-weight: 600;
		line-height: 1.375rem;
		letter-spacing: 0em;
		text-align: center;
	}
	&__link:hover {
		cursor: pointer;
	}
	&__subscr {
		margin: 0px 1.5625rem 0 1.5625rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__orangeText {
		margin-top: 2.1875rem;
		font-size: 1.125rem;
		font-weight: 600;
		line-height: 1.4375rem;
		letter-spacing: 0em;
		text-align: center;
		color: var(--orange-color);
	}
	&__submit {
		margin: 0.9375rem 1.875rem 0 1.875rem;
		form {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.input-row {
			
		}
		.input-field {
			overflow: hidden;
			input {
				text-align: center;
				border-radius: 1.25rem;
				border: 0.0625rem solid var(--orange-color);
				padding: 1.25rem 2.8125rem;
			}
			input[type=text] {				
				font-size: 0.875rem;
				font-weight: 400;
				line-height: 1.0625rem;
				letter-spacing: 0em;				
			}
		}
		.input-btn {
			margin-top: 0.625rem;
			border-radius: 1.875rem;
			background: linear-gradient(180deg, #EF6446 0%, #DB4A2A 100%);
			color: var(--white-color);
			font-size: 1.125rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			padding: 1rem 2.3125rem;
		}
		.input-btn:hover {
			background: linear-gradient(180deg, #EB8069 0%, #DB4A2A 100%);
      transition: 0.25s;
		}
	}
	&__socials {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__socialsText {
		margin: 3.125rem 3.125rem 0 3.125rem;
		font-size: 0.875rem;
		font-weight: 600;
		line-height: 1.0625rem;
		letter-spacing: 0em;
		text-align: center;
	}
	&__socialsIcons {
		display: flex;
		flex-direction: row;
		gap: 2.1875rem;
		margin-top: 1.125rem;
		margin-bottom: 3.125rem;
		.instagram-icon {
		}
		.facebook-icon {
		}
		.twitter-icon {
		}
	}
}





