.promo {
	display: flex;
	flex-direction: column;

	@media screen and (min-width:$tablet) {
		display: flex;
		flex-direction: row;
	}

// 	&__overlay {
// 		position: absolute; /* Sit on top of the page content */
// 		display: block;
// 		width: 100%; /* Full width (cover the whole page) */
// 		height: 100%; /* Full height (cover the whole page) */
// 		top: 0; 
// 		left: 0;
// 		right: 0;
// 		bottom: 0;
// 		font-size: 50px;
// 		color: white;
// 		background-color: rgba(0,0,0,0.9); /* Black background with opacity */
// 		z-index: 52; /* Specify a stack order in case you're using a different order for other elements */
// 		cursor: pointer; /* Add a pointer on hover */
		
// 		box-shadow: 0rem 1.1875rem 1.8125rem 0.25rem rgba(78, 54, 48, 0.30);
// 		flex-shrink: 0;
// 		border-radius: 1.25rem;
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 		svg {
				
// 		}
// }
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		order: 2;
		background: #FFF3ED;
		@media screen and (min-width:$tablet) {
			flex: 0 0 50%;
			max-width: 50%;
			order: 1;
		}	
	}
	&__wrapper {
		width: 320px;
		margin: 0 auto;
		@media screen and (min-width:$mobile) {
			width: 29.75rem;
		}
		@media screen and (min-width:$full) {
			width: 40rem;
		}
	}
	&__content-header {
		display: none;
		flex-direction: column;
		@media screen and (min-width:$tablet) {
			display: flex;
		}
	}
	&__cover {
		order: 1;
		display: flex;
		flex-direction: column;
		background: url("img/promoCover.webp");
		background-position: 100% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		height: 28.8125rem;
		@media screen and (min-width:$mobile) {
			height: 36rem;
		}	
		@media screen and (min-width:$tablet) {
			flex: 0 0 50%;
			max-width: 50%;
			order: 2;
			height: 100vh;
		}	
	}
	&__cover-btnBox {
		display: flex;
		align-self: flex-end;
		margin: 1rem 1.0625rem 0 0;
	}
	&__cover-header {
		flex-direction: column;
		margin-top: 4.5rem ;
		@media screen and (min-width:$mobile) {
			margin-top: 6.625rem;
		}
		@media screen and (min-width:$tablet) {
			display: none;
		}	
	}
	&__video {
		display: flex;
		flex-direction: column;
	}
	&__video-play {
		display: flex;
		justify-content: center;
		margin-top: 1.9375rem;
		@media screen and (min-width:$mobile) {
			margin-top: 3.4375rem;
		}
	}
	&__video-text {
		display: flex;
		justify-content: center;
		color: var(--white-color);
		text-align: center;
		font-size: 1rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		margin-top: 0.8125rem;
	}


	// header elements

	&__headerIcon {
		display: flex;
		justify-content: center;
		@media screen and (min-width:$tablet) {
			margin-top: 7.6875rem;
		}
		@media screen and (min-width:$full) {
			margin-top: 9.375rem;
		}
	}
	&__headerTitle {
		color: var(--white-color);
		text-align: center;
		font-size: 2rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		margin-top: 2.375rem;
		@media screen and (min-width:$mobile) {
			font-size: 2.25rem;
			font-weight: 600;
			line-height: 2.75rem;
			letter-spacing: 0em;
			text-align: center;
			margin-top: 3.4375rem;
		}
		@media screen and (min-width:$tablet) {
			color: var(--orange-color);
			margin-top: 2rem;
		}
		@media screen and (min-width:$full) {
			font-size: 3.75rem;	
			line-height: 1.2;	
		}
	}
	&__descr {	
		margin: 2.1875rem 0 0 0;
		font-size: 0.875rem;
		font-weight: 400;
		line-height: 1.25rem;
		letter-spacing: 0em;
		text-align: center;	
		@media screen and (min-width:$mobile) {
			font-size: 1rem;
		}		
		@media screen and (min-width:$tablet) {
			font-size: 0.875rem;
			margin-top: 1.6875rem;
		}	
		@media screen and (min-width:$tablet) {
			font-size: 1rem;
			margin-top: 2.375rem;
		}	
	}
	&__link {
		margin-top: 1.25rem;
		font-size: 1.125rem;
		font-weight: 600;
		line-height: 1.375rem;
		letter-spacing: 0em;
		text-align: center;
		transition: .25s;
		@media screen and (min-width:$tablet) {
			font-size: 1rem;
		}
		@media screen and (min-width:$full) {
			font-size: 1.125rem;
		}
	}
	&__link:hover {
		cursor: pointer;
		transition: .25s;
	}
	&__subscr {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__orangeText {
		font-size: 1.125rem;
		font-weight: 600;
		line-height: 1.4375rem;
		letter-spacing: 0em;
		text-align: center;
		color: var(--orange-color);
		margin-top: 2.25rem;
		@media screen and (min-width:$mobile) {
			margin-top: 3rem;
		}
		@media screen and (min-width:$tablet) {
			font-size: 1.25rem;
			margin-top: 2.5625rem;
		}
		@media screen and (min-width:$full) {
			font-size: 1.5rem;
			margin-top: 5.6875rem;
		}
	}
	&__submit {
		margin: 0.9375rem 0 0 0;
		width: 100%;
		@media screen and (min-width:$mobile) {
			margin-top: 1.25rem;
		}
	}
	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		position: relative;
		@media screen and (min-width:$mobile) {
			flex-direction: row;
		}
	}
	&__input-row {
		width: 100%;
	}
	&__input-field {
		overflow: hidden;
			input {
				text-align: center;
				border-radius: 1.25rem;
				border: 0.0625rem solid var(--orange-color);
				padding: 1.25rem 11.8125rem 1.25rem 1.125rem;
				width: 100%;
		
			}
			input[type=text] {				
				font-size: 0.875rem;
				font-weight: 400;
				line-height: 1.0625rem;
				letter-spacing: 0em;			
		
			}
	}
	&__input-btn {
		margin-top: 0.625rem;
		border-radius: 1.25rem;
		border: 0.0625rem solid var(--orange-color);
		background: linear-gradient(180deg, #EF6446 0%, #DB4A2A 100%);
		color: var(--white-color);
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		padding: 1rem 2.3125rem;
		@media screen and (min-width:$mobile) {
			position: absolute;
			margin-top: 0;
			right: 0;
		}
	}
	&__input-btn:hover {
		background: linear-gradient(180deg, #EB8069 0%, #DB4A2A 100%);
		  transition: 0.25s;
		@media screen and (min-width:$mobile) {
			
		}
	}
	&__socials {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__socialsText {
		margin: 3rem 0 0 0;
		font-size: 0.875rem;
		font-weight: 600;
		line-height: 1.0625rem;
		letter-spacing: 0em;
		text-align: center;
		@media screen and (min-width:$mobile) {
			margin-top: 3.3125rem;
		}
	}
	&__socialsIcons {
		display: flex;
		flex-direction: row;
		gap: 2.1875rem;
		margin-top: 1.125rem;
		margin-bottom: 3.125rem;
		@media screen and (min-width:$mobile) {
			margin-bottom: 2.3125rem;
		}
		.instagram-icon {
		}
		.facebook-icon {
		}
		.twitter-icon {
		}
	}
}





