.promo {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	@media screen and (min-width:$tablet) {
		display: flex;
		flex-direction: row;
	}
	@media screen and (min-width:$full) {
	
	}

// 	&__overlay {
// 		position: absolute; /* Sit on top of the page content */
// 		display: block;
// 		width: 100%; /* Full width (cover the whole page) */
// 		height: 100%; /* Full height (cover the whole page) */
// 		top: 0; 
// 		left: 0;
// 		right: 0;
// 		bottom: 0;
// 		font-size: 50px;
// 		color: white;
// 		background-color: rgba(0,0,0,0.9); /* Black background with opacity */
// 		z-index: 52; /* Specify a stack order in case you're using a different order for other elements */
// 		cursor: pointer; /* Add a pointer on hover */
		
// 		box-shadow: 0rem 1.1875rem 1.8125rem 0.25rem rgba(78, 54, 48, 0.30);
// 		flex-shrink: 0;
// 		border-radius: 1.25rem;
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 		svg {
				
// 		}
// }
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		order: 2;
		background: #FFF3ED;
		@media screen and (min-width:$tablet) {
			flex: 0 0 50%;
			max-width: 50%;
			order: 1;
		}	
		@media screen and (min-width:$full) {
			// align-self: stretch;
		}	
	}
	&__wrapper {
		width: 320px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		@media screen and (min-width:$mobile) {
			width: 29.75rem;
		}
		@media screen and (min-width:$full) {
			width: 40rem;
		}
	}
	&__content-header {
		display: none;
		flex-direction: column;
		@media screen and (min-width:$tablet) {
			display: flex;
		}
	}
	&__cover {
		order: 1;
		display: flex;
		flex-direction: column;
		background: url("../img/promoCover.png") 0 0 / cover no-repeat;
		height: 28.8125rem;
		@media screen and (min-width:$mobile) {
			height: 36rem;
		}	
		@media screen and (min-width:$tablet) {
			flex: 0 0 50%;
			max-width: 50%;
			order: 2;
			height: auto;
			display: flex;
			justify-content: space-between;
		}	
		@media screen and (min-width:$full) {
			// align-self: stretch;
		}	
	}
	&__cover-btnBox {
		display: flex;
		align-self: flex-end;
		user-select: none; 
		border-radius: 1.875rem;
		margin: 1rem 1.0625rem 0 0;
		background: transparent;
		cursor: pointer;
	}	
	.headerAlt__langBtn {
		border-radius: 1.875rem;
		max-width: 8.1875rem;
		transition: .25s;
		.dropdownArrow { 			
			path {
				transition: .25s;
			}
		}
	}
	.headerAlt__langBtn:hover {
		background: #FFF;
		color: var(--orange-color);
		transition: .25s;
		.dropdownArrow { 			
			path {
				fill: var(--text-color-black); 
				transition: .25s;
				
			}
		}
	}
	&__langMenu {
		display: none;
		position: absolute;
		top: 75px;
		align-items: center;
		text-align: center;		
		border-radius: 1.875rem;
		background: var(--modal-background-color);
		.uaBtn {
			border-radius: 1.875rem 1.875rem 0 0;
			svg {
				margin-right: 0.625rem;
			}
		}
		.engBtn {
			border-radius: 0 0 1.875rem 1.875rem;	
			svg {
				margin-right: 0.625rem;
			}
		}
	}
	&__langBtn {	
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
		background: var(--modal-background-color);
		padding: 0.875rem 1.75rem 0.875rem 0.9375rem;
		transition: .25s;
	}
	&__langBtn:hover {
		background-color: var(--orange-color);
		color: var(--white-color);
		transition: .25s;
	}

	&__cover-header {
		flex-direction: column;
		margin-top: 4.5rem ;
		@media screen and (min-width:$mobile) {
			margin-top: 6.625rem;
		}
		@media screen and (min-width:$tablet) {
			display: none;
		}	
	}
	&__video {
		display: flex;
		flex-direction: column;
		user-select: none;
		max-width: fit-content;
		margin: auto;
		cursor: pointer;
		transition: .25s;
		svg {
			border-radius: 50%;
		}
		@media screen and (min-width:$tablet) {
			flex-direction: row;
			align-items: center;
			margin: 0 1.6875rem 2.125rem 0;
			display: flex;
			align-self: end;
		}
		@media screen and (min-width:$full) {
			flex-direction: row;
			align-items: center;
			margin: 0 5.375rem 3.625rem 0;
		}
	}
	&__video:hover {
		.promo__video-text {
			opacity: 1;
		transition: .25s;
		}
		svg {
			transition: .25s;
			background-color: white;
			path {
				fill : var(--orange-color);
				transition: .25s;
			}
		}
	} 
	&__video-play {
		display: flex;
		justify-content: center;
		margin-top: 1.9375rem;
		@media screen and (min-width:$mobile) {
			margin-top: 3.4375rem;
		}
		@media screen and (min-width:$tablet) {
			margin-top: 0;
			margin-right: 0.9375rem;
		}
		@media screen and (min-width:$full) {
			margin-right: 1.4375rem;
		}
		svg {
			@media screen and (min-width:$tablet) {
				width: 4.4375rem;
				height: 4.4375rem;
			}
			@media screen and (min-width:$full) {
				width: 6.0625rem;
				height: 6.0625rem;
			}
		}
	}
	&__video-text {
		opacity: 0.7;
		display: flex;
		justify-content: center;
		color: var(--white-color);
		text-align: center;
		font-size: 1rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		margin-top: 0.8125rem;
		@media screen and (min-width:$tablet) {
			text-align: start;
			margin-top: 0;
			font-size: 1.25rem;
		}
		@media screen and (min-width:$full) {
			font-size: 1.5rem;
		}
	}


	// header elements

	&__headerIcon {
		display: flex;
		justify-content: center;
		user-select: none;
		@media screen and (min-width:$tablet) {
			margin-top: 7.6875rem;
		}
		@media screen and (min-width:$full) {
			margin-top: 9.375rem;
		}
	}
	&__headerTitle {
		color: var(--white-color);
		text-align: center;
		font-size: 2rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		margin-top: 2.375rem;
		user-select: none;
		@media screen and (min-width:$mobile) {
			font-size: 2.25rem;
			font-weight: 600;
			line-height: 2.75rem;
			letter-spacing: 0em;
			text-align: center;
			margin-top: 3.4375rem;
		}
		@media screen and (min-width:$tablet) {
			color: var(--orange-color);
			margin-top: 2rem;
		}
		@media screen and (min-width:$full) {
			font-size: 3.75rem;	
			line-height: 1.2;	
		}
	}
	&__descr {	
		margin: 2.1875rem 0 0 0;
		font-size: 0.875rem;
		font-weight: 400;
		line-height: 1.25rem;
		letter-spacing: 0em;
		text-align: center;	
		@media screen and (min-width:$mobile) {
			font-size: 1rem;
		}		
		@media screen and (min-width:$tablet) {
			font-size: 0.875rem;
			margin-top: 1.6875rem;
		}	
		@media screen and (min-width:$tablet) {
			font-size: 1rem;
			margin-top: 2.375rem;
		}	
	}
	&__link {
		margin: 20px auto 0 auto;
		font-size: 1.125rem;
		font-weight: 600;
		line-height: 1.375rem;
		letter-spacing: 0em;
		text-align: center;
		cursor: pointer;
		a {
			text-decoration: underline;
			transition: .25s;
		}
		transition: .25s;
		user-select: none;
		max-width: fit-content;
		@media screen and (min-width:$tablet) {
			font-size: 1rem;
		}
		@media screen and (min-width:$full) {
			font-size: 1.125rem;
		}
	}
	&__link:hover {
		a {
			text-decoration: none;
			transition: .25s;
		}
	}
	&__subscr {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__orangeText {
		font-size: 1.125rem;
		font-weight: 600;
		line-height: 1.4375rem;
		letter-spacing: 0em;
		text-align: center;
		color: var(--orange-color);
		margin-top: 2.25rem;
		line-height: 130%;
		@media screen and (min-width:$mobile) {
			margin-top: 3rem;
		}
		@media screen and (min-width:$tablet) {
			font-size: 1.25rem;
			margin-top: 2.5625rem;
		}
		@media screen and (min-width:$full) {
			font-size: 1.5rem;
			margin-top: 5.6875rem;
		}
	}

	// form
	
	&__submit {
		margin: 0.9375rem 0 0 0;
		width: 100%;
		@media screen and (min-width:$mobile) {
			margin-top: 1.25rem;
		}
	}
	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		position: relative;
		@media screen and (min-width:$mobile) {
			flex-direction: row;
		}
	}
	&__input-row {
		width: 100%;
	}
	&__input-field {
		overflow: hidden;
			input {
				text-align: center;
				border-radius: 1.25rem;
				border: 0.0625rem solid var(--orange-color);
				padding: 1.25rem 11.8125rem 1.25rem 1.125rem;
				width: 100%;
				outline: none;
				@media screen and (min-width:$tablet) {
					text-align: start;
				}
			}
			input[type=text] {				
				font-size: 0.875rem;
				font-weight: 400;
				line-height: 1.0625rem;
				letter-spacing: 0em;			
		
			}
	}
	&__input-field:focus-visible {
		border: none;
		outline: none;
	}
	&__input-field:active {
		border: none;
		outline: none;
	}
	&__input-field:focus {
		border: none;
		outline: none;
	}
	&__input-field:focus-within {
		border: none;
		outline: none;
	}
	&__input-btn {
		margin-top: 0.625rem;
		border-radius: 1.25rem;
		border: 0.0625rem solid var(--orange-color);
		background: #E55738;
		color: var(--white-color);
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		padding: 1.0625rem 2.3125rem;
		transition: .25s;
		@media screen and (min-width:$mobile) {
			position: absolute;
			margin-top: 0;
			right: 0;
		}
	}
	&__input-btn:hover {
		background: #EB8069;
		  transition: 0.25s;
		  border-color: #EB8069;
	}

	// socials
	&__socials {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__socialsText {
		margin: 3rem 0 0 0;
		font-size: 0.875rem;
		font-weight: 600;
		line-height: 1.0625rem;
		letter-spacing: 0em;
		text-align: center;
		@media screen and (min-width:$mobile) {
			margin-top: 3.3125rem;
		}
		@media screen and (min-width:$mobile) {
			margin-top: 3rem;
		}
		@media screen and (min-width:$tablet) {
			margin-top: 2.375rem;
		}
		@media screen and (min-width:$full) {
			margin-top: 6.9375rem;
			font-size: 1.25rem;
		}
	}
	&__socialsIcons {
		display: flex;
		flex-direction: row;
		gap: 2.1875rem;
		margin: 1.125rem 0 3.125rem 0;
		@media screen and (min-width:$mobile) {
			margin: 1.125rem 0 2.3125rem 0;
		}
		@media screen and (min-width:$mobile) {
			margin: 1.125rem 0 2.3125rem 0;
		}
		@media screen and (min-width:$tablet) {
			margin: 1.4375rem 0 2.125rem 0;
		}
		@media screen and (min-width:$tablet) {
			margin: 1.4375rem 0 2.125rem 0;
		}
	}
	&__socialIcon {
		display: flex;
		align-items: center;
		justify-content: center;
		transition: .25s;
	}
	&__socialIcon:hover {
		svg {
			path {
				transition: .25s;
				fill: #EB8069;
			}
		}
	}
}
// Display block toggle
.block {
	display: block;	
	}

// Arrow state
.toggleLangBtn {
	background: #FFF;
	color: var(--orange-color);
	transition: .25s;
	.dropdownArrow { 		
		transform: rotate(180deg);	
		path {
			fill: var(--text-color-black); 
			transition: .25s;
		}
	}
}