@use "sass:math";
:root {
	// Basic Typography:
		//normal
		--normal: 400;
		//bold
		--bold: 700;
		// h1
		--h1-mobile: 2.25rem;
		--h1-tablet: 2.75rem;
		--h1-desktop: 3.125rem;
		--h1-full: 4rem;
		// h2
		--h2-mobile: 2rem;
		--h2-tablet: 2.5rem;
		--h2-desktop: 2.875rem;
		--h2-full: 3.25rem;
		// h3
		--h3-mobile: 1.5rem;
		--h3-tablet: 2.25rem;
		--h3-desktop: 2.25rem;
		--h3-full: 2.25rem;
		// h4
		--h4-mobile: 1.375rem;
		--h4-tablet: 1.5rem;
		--h4-desktop: 2rem;
		--h4-full: 2rem;
		// h5 
		--h5: 1.25rem;
		// p 
		--p-mobile: 0.875rem;
		--p-tablet: 1.125rem;
		--p-desktop: 1.25rem;
		--p-full: 1.5rem;
		
	//Buttons
		--btn-background: linear-gradient(180deg, #ef6446 0%, #db4a2a 100%);
		--btn-hover-backround: linear-gradient(180deg, #EB8069 0%, #E55738 100%);
		

  --text-color-black: #171717;
	--text-color-blue: #3C88F9;
  --text-color-underline: rgba(0, 0, 0, 0.3);

  --white-color: #ffffff;
  --heading-color: #4b5563;
  --blue-color: #73b6da;
  --modal-background-color: #FFF3ED;
	--cream-color: #FFF8F6;
	--alt-cream-color: #FCFAFA;

  --orange-color: #E55738;
  --orange-color-underline: rgba(229, 87, 56, 0.3);

  --orange-border-transparent: rgba(235, 128, 105, 0.5);

  // Font-weight

  --fw-400: 400;
}

// Masonry header colors

$masonry-lightGreen: #ddeeed;


// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Підключення шрифтів ===========================================================================================================================================================================================================================================================================
//&display=swap - додати при підключенні через плагін

// Підключити, якщо є локальні файли шрифтів
@import "fonts/fonts";

// Підключення іконкових шрифтів ==============================================================================================================================================================================================================================================================================
// Підключити, якщо є файл іконкового шрифту
//@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Налаштування шаблону ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: "cretype";
$fontSize: toRem(14); // де 14(px) - розмір шрифту за замовчуванням з макету

// Основні кольори
$mainColor: #000; // Колір шрифту за замовчуванням

// Палітра кольорів
// @import "base/colors-palette";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 375;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$minWidthContainer: 355;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 0;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $minWidthContainer + $containerPadding;

// Брейк-поїнти
$full: em(1919.98); // large size screens
$pc: em(1439.98); // pc
$tablet: em(1279.98); // Планшети, деякі телефони в горизонтальному положенні, netbooks
$mobile: em(767.98); // Телефони L
$mini: em($containerWidth); // small phones


// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 2;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
	// Скролл заблоковано
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт завантажений
	.loaded & {
	}
}
// Оболонка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Притискаємо footer
	> main {
		flex: 1 1 auto;
	}
	// Фікс для слайдерів
	> * {
		min-width: 0;
	}
}
// Обмежуючий контейнер ======================================================================================================================================================================================================================
/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Чуйна
	[class*="__container"] {
		@if ($minWidthContainer>0) {
			max-width: toRem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($minWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;
		@if ($minWidthContainer>0) {
			max-width: toRem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
		@media (min-width: $mobile) {
			max-width: toRem(700);
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
		@media (min-width: $tablet) {
			max-width: toRem(1120);
		}
		@media (min-width: $pc) {
			max-width: toRem(1390);
		}
		@media (min-width: $full) {
			max-width: toRem(1660);
		}
	}
}

// Підключення базових стилів, шаблонів (заготівель) та допоміжних класів
// Для підключення/вимкнення конкретних стилів дивись base.scss
@import "base";

// Підключення стилів загальних елементів проекту
@import "common";

// Підключення стилів окремих блоків
@import "headerAlt";
@import "headerMain";
@import "footer";
@import "main";


// Підключення стилів окремих сторінок
@import "instructions";
@import "error404";
@import "contacts";
@import "blog";
@import "news";
@import "promo";
@import "profile";
@import "post";
@import "public-offer";
@import "privacy-policy";
@import "guidelines";
@import "about";
@import "memorial";
// Підключення стилів окремих попапів
@import "burgerMenu";
