.volunteerIntro {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	&__headerTitle {
		padding: 55px 35px 0 35px;
		width: 100%;
		display: flex;
		flex-direction: column;
		background: #fff8f6;		
		@media (min-width: $mobile) {		
		}
		@media (min-width: $tablet) {
			padding: 55px 122px 0 122px;
			flex-direction: row;
			justify-content: space-between;
		}
		@media (min-width: $pc) {
		}
		@media (min-width: $full) {
		}
	}
	&__headerText {
		display: flex;
		flex-direction: column;
		align-items: center;
		h1 {
			font-size: 36px;
			line-height: 110%;
		}
		p {
			margin-top: 22px;
			font-size: 16px;
		}	
		@media (min-width: $mobile) {
		}
		@media (min-width: $tablet) {
			width: 580px;
			align-items: start;
			text-align: start;
		}
		@media (min-width: $pc) {
		width: 780px;
			h1 {
				font-size: 50px;
			}
			p {
				font-size: 24px;
			}
		}
		@media (min-width: $full) {
		width: 880px;
			h1 {
				font-size: 64px
			}
			p {
				font-size: 30px;
			}
		}	
	}
	&__imgBox {
		margin: 72px 35px 0 35px;
		display: flex;
		overflow: hidden;
		align-self: center;
		width: 306px;
		height: 256px;
		img {
			width: 100%;
		}
		@media (min-width: $mobile) {			
			width: 454px;
			height: 379px;
		}
		@media (min-width: $tablet) {
			margin: 0;
		}
		@media (min-width: $pc) {
			width: 528px;
			height: 441px;
		}
		@media (min-width: $full) {
			width: 650px;
			height: 543px;
		}
	}
	&__headerDescr {
		padding: 35px 35px 0 35px;
		width: 100%;
		display: flex;
		@media (min-width: $tablet) {
			padding: 70px 122px 0 122px;
		}
	p {
		width: 100%;
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		text-align: center;
		@media (min-width: $mobile) {		
		}
		@media (min-width: $tablet) {
			width: 940px;
			font-size: 20px;
			align-self: start;
			text-align: start;
		}
		@media (min-width: $pc) {
			font-size: 24px;
			width: 1040px;
		}
		@media (min-width: $full) {
			width: 1240px;
			font-size: 30px;
		}
	}
	}
}
.volunteerJob {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	&__counter {
		display: flex;
		width: 100%;
	}
	&__counterBox {
		display: flex;
		flex-direction: column;
		border-radius: 20px;
		background: #fff8f6;
		margin:45px 35px 0 35px ;
		padding: 40px 32px 46px;
		align-self: center;
		width: 100%;
		@media (min-width: $tablet) {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			border-radius: 30px;
			margin: 76px 80px 0;
			padding: 56px 42px 65px;
		}
		@media (min-width: $pc) {
			margin: 76px 70px 0;
			padding: 82px 53px 77px;
		}
		@media (min-width: $full) {
			margin: 76px 115px 0;
			padding: 82px 60px 77px;
		}
	}
	&__counterTextBox {
		display: flex;
		flex-direction: column;
		@media (min-width: $mobile) {	
			align-items: center;
		}
		@media (min-width: $tablet) {			
			align-items: start;
		}
	}
	&__counterTitleBox {
		display: flex;
		align-items: center;
		flex-direction: column;	
		@media (min-width: $mobile) {	
			flex-direction: row;	
			align-items: center;
			gap: 17px;
		}
	}
	&__counterTitle {
		font-weight: 400;
		text-align: center;
		font-size: 20px;
		@media (min-width: $pc) {
			font-size: 24px;
		}
		@media (min-width: $full) {
			font-size: 32px;
		}
	}
	&__counterAmount {
		margin-top: 12px;
		font-size: 36px;
		text-align: center;
		font-weight: var(--fw-700);
		color: #e55738;
		@media (min-width: $mobile) {	
			margin: 0;
			font-size: 36px;
		}
		@media (min-width: $full) {
			font-size: 52px;
		}
	}
	&__counterDescr {
		margin-top: 9px;
		font-size: 16px;
		text-align: center;
		font-weight: 400;
		color: #e55738;
		@media (min-width: $full) {
			font-size: 24px;
		}
	}
	&__addGraveBtn {
		display: flex;
		justify-content: center;   
		margin-top: 33px;
		@media (min-width: $tablet) {
			margin: 0;
		}
		button {
				background: linear-gradient(180deg, #ef6446 0%, #db4a2a 100%);
				color: #ffffff;
				position: relative;    
				border-radius: 20px;
				padding: 15px 36px;
				font-weight: var(--fw-700);
				font-size: 16px;
				@media (min-width: $mobile) {	
					font-size: 18px;
					padding: 16px 56px;
				}
				@media (min-width: $pc) {
					border-radius: 30px;
					font-size: 20px;
				}
				@media (min-width: $full) {
					font-size: 32px;
					padding: 23px 56px;
				}
				span {					
					position: relative;
					z-index: 10;
				}
		}
		button:before {
				right: 0;
				height: 100%;
				top: 0;
				width: 100%;
				border-radius: 20px;
				content: "";
				opacity: 0;
				transition: opacity .25s ease-in-out;
				background: linear-gradient(180deg, #eb8069 0%, #e55738 100%);
				position: absolute;
				@media (min-width: $pc) {
					border-radius: 30px;
					font-size: 20px;
				}
		}
		button:hover:before {
				opacity: 1;
		}
	}	
	&__reward {
		display: flex;
		width: 100%;
		margin-top: 45px;
		padding: 0 35px;
		flex-direction: column;
		@media (min-width: $mobile) {
			margin-top: 72px;
			padding: 0 100px;
		}
		@media (min-width: $tablet) {
			margin-top: 95px;
			flex-direction: row;
			justify-content: space-between;
			padding: 0 123px;
		}
		@media (min-width: $pc) {
			margin-top: 105px;
			padding: 0 123px;
		}
		@media (min-width: $full) {
			margin-top: 122px;
			padding: 0 175px;
		}
	}
	&__rewardTextBox {
		width: 100%;
		@media (min-width: $tablet) {
		}
	}
	&__rewardTitle {
		width: 100%;
		align-self: center;
		text-align: center;
		@media (min-width: $tablet) {
			max-width: 440px;
		}
		@media (min-width: $full) {
			max-width: 500px;
		}
		h4 {
			font-weight: var(--fw-700);
			font-size: 32px;
			text-align: center;
			@media (min-width: $tablet) {
				text-align: start;
				font-size: 46px;
			}
			@media (min-width: $full) {
				font-size: 52px;
			}
		}
	}
	&__rewardDescr {
		width: 100%;
		margin-top: 20px;
		align-self: center;
		@media (min-width: $mobile) {
			margin-top: 16px;
		}
		@media (min-width: $tablet) {
			margin-top: 53px;
			max-width: 620px;
		}
		@media (min-width: $full) {
			margin-top: 39px;
			max-width: 750px;
		}
		p {
			font-weight: 400;
			font-size: 14px;
			text-align: center;
			@media (min-width: $tablet) {
				text-align: start;
				font-size: 20px;
			}
			@media (min-width: $full) {
				font-size: 24px;
			}
		}
	}
	&__rewardBtn {
		display: flex;
		justify-content: center;   
		margin-top: 46px;
		@media (min-width: $tablet) {
			justify-content: start;  
		}
		@media (min-width: $full) {
			margin-top: 61px;
		}
		button {
				background: linear-gradient(180deg, #ef6446 0%, #db4a2a 100%);
				color: #ffffff;
				position: relative;    
				border-radius: 20px;
				padding: 15px 36px;
				font-weight: var(--fw-700);
				font-size: 16px;
				@media (min-width: $mobile) {	
					font-size: 18px;
					padding: 16px 56px;
				}
				@media (min-width: $pc) {
					border-radius: 30px;
					font-size: 20px;
				}
				@media (min-width: $full) {
					font-size: 32px;
					padding: 23px 56px;
				}
				span {					
					position: relative;
					z-index: 10;
				}
		}
		button:before {
				right: 0;
				height: 100%;
				top: 0;
				width: 100%;
				border-radius: 20px;
				content: "";
				opacity: 0;
				transition: opacity .25s ease-in-out;
				background: linear-gradient(180deg, #eb8069 0%, #e55738 100%);
				position: absolute;
				@media (min-width: $pc) {
					border-radius: 30px;
					font-size: 20px;
				}
		}
		button:hover:before {
				opacity: 1;
		}
	}
	&__rewardImgBox {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 15px;
		@media (min-width: $mobile) {
			margin-top: 25px;
		}
		@media (min-width: $tablet) {
			margin: 0;
			justify-content: end;
		}
	}
	&__rewardImg {			
		display: flex;
		img {
			display: flex;
			align-self: center;
			width: 100%;
			height: 100%;
			max-width: 327px;
			@media (min-width: $tablet) {
				max-width: 445px;
				padding-top: 60px;
			}
			@media (min-width: $pc) {
				max-width: 545px;
			}
		}
	}
}
.volunteerPros {
	background: #fff8f6;
	padding: 3.75rem 0;
	@media (min-width: $mobile) {
		padding: 3.125rem 0 3.75rem 0;
	}
	@media (min-width: $tablet) {
		padding: 4.375rem 0 6.25rem 0;
	}
	@media (min-width: $pc) {
		padding: 5rem 0 7.5rem 0;
	}
	@media (min-width: $full) {
		padding: 6.875rem 0 7.5rem 0;
	}
	&__title {
		text-align: center;
		h2 {
			font-weight: var(--fw-700);
			font-size: 2rem;
			color: #171717;
			@media (min-width: $tablet) {
				font-size: 2.875rem;
			}
			@media (min-width: $full) {
				font-size: 3.25rem;
			}
		}
		@media (min-width: $tablet) {
			text-align: start;
		}
	}
	&__descr {
		text-align: center;
		margin-top: 1.25rem;
		@media (min-width: $tablet) {
			text-align: start;
			margin-top: 2.1875rem;
		}
		@media (min-width: $pc) {
			margin-top: 3.125rem;
		}
		p {
			font-weight: 400;
			font-size: 0.875rem;
			color: #171717;
			@media (min-width: $tablet) {
				font-size: 1.25rem;
			}
			@media (min-width: $full) {
				font-size: 1.5rem;
			}
		}
	}
	&__columns {
		margin-top: 3.125rem;
		display: flex;
		flex-direction: column;
		gap: 2.5rem;
		@media (min-width: $mobile) {
			flex-direction: row;
			gap: 3.75rem;
		}
		@media (min-width: $tablet) {
			margin-top: 3.75rem;
			gap: 4.6875rem;
		}
		@media (min-width: $pc) {
			margin-top: 4.375rem;
			gap: 6.875rem;
		}
		@media (min-width: $full) {
			margin-top: 5.625rem;
			gap: 12.5rem;
		}
	}
	&__column {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 1.25rem;
		@media (min-width: $mobile) {
			justify-content: flex-start;
		}
		@media (min-width: $tablet) {
			gap: 2.5rem;
		}
	}
	&__column-title {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.625rem;
		svg {
			height: 2.375rem;
			width: 2.375rem;
			@media (min-width: $tablet) {
				width: 4.375rem;
				height: 4.375rem;
			}
			@media (min-width: $tablet) {
				width: 5.9375rem;
				height: 5.9375rem;
			}
		}
		h5 {
			font-weight: var(--fw-700);
			font-size: 1.25rem;
			color: #171717;
			@media (min-width: $tablet) {
				font-size: 1.25rem;
			}
			@media (min-width: $pc) {
				font-size: 1.5rem;
			}
		}
		@media (min-width: $mobile) {
			align-items: flex-start;
			height: 5.625rem;
		}
		@media (min-width: $tablet) {
			flex-direction: row;
			height: auto;
			gap: 1.25rem;
			align-items: center;
		}
	}
	&__column-descr {
		text-align: center;
		p {
			font-weight: 400;
			font-size: 0.875rem;
			line-height: 130%;
			color: #171717;
			@media (min-width: $tablet) {
				font-size: 1.125rem;
			}
			@media (min-width: $full) {
				font-size: 1.25rem;
			}
		}
		@media (min-width: $mobile) {
			text-align: start;
		}
	}
}
.volunteerQu {
	padding: 3.125rem 0 5.625rem 0;
	@media (min-width: $mobile) {
		padding: 3.75rem 0 5rem 0;
	}
	@media (min-width: $tablet) {
		padding: 5.9375rem 0 8.4375rem 0;
	}
	@media (min-width: $pc) {
		 padding: 5rem 0 9.375rem 0;
	}
	@media (min-width: $full) {
		padding: 7.5rem 0 12.5rem 0;
	}
	&__title {
		text-align: center;
		margin-bottom: 1.25rem;
		@media (min-width: $mobile) {
			margin-bottom: 1.875rem;
		}
		@media (min-width: $tablet) {
			margin-bottom: 2.5rem;
		}
		@media (min-width: $pc) {
			margin-bottom: 2.8125rem;
		}
		h2 {
			font-weight: var(--fw-700);
			font-size: 2rem;
			color: #171717;
			@media (min-width: $tablet) {
				font-size: 2.875rem;
			}
			@media (min-width: $full) {
				font-size: 3.25rem;
			}
		}
	}
	&__descr {
		text-align: center;
		margin-bottom: 70px;
		@media (min-width: $mobile) {
			margin-bottom: 2.8125rem;
		}
		@media (min-width: $tablet) {
			margin-bottom: 4.375rem;
		}
		p {
			font-weight: 400;
			font-size: 0.875rem;
			text-align: center;
			color: #171717;
			@media (min-width: $tablet) {
				font-size: 1.25rem;
			}
			@media (min-width: $full) {
				font-size: 1.5rem;
			}
		}
	}
	&__video {
		width: 19.25rem;
		height: 12.5rem;
		margin: 0 auto 3.125rem auto;
		@media (min-width: $mobile) {
			margin: 0 auto 3.75rem auto;
			width: 43.75rem;
			height: 22.3125rem;
		}
		@media (min-width: $tablet) {
			width: 70rem;
			height: 32.6875rem;
			margin: 0 auto 5.9375rem auto;
		}
		@media (min-width: $pc) {
			margin: 0 auto 7.5rem auto;
			width: 81.25rem;
			height: 36.625rem;
		}
		@media (min-width: $full) {
			margin: 0 auto 9.0625rem auto;
			width: 96.75rem;
			height: 43.625rem;
		}
		iframe {
			border-radius: 20px;
			width: 100%;
			height: 100%;
			box-shadow: 0 19px 29px 4px rgba(78, 54, 48, 0.3);
		}
	}
}
.volunterSpollers {
	margin: 1.25rem 0 0 0;
	@media screen and (min-width:$tablet) {
		margin: 60px 0 0 0;
	}
	@media screen and (min-width:$pc) {
		margin: 35px 0 0 0;
	}
	@media screen and (min-width:$full) {
		margin: 30px 0 0 0;
	}
	&__title {
		font-weight: var(--fw-700);
		font-size: 1.125rem;
		color: #171717;
		cursor: pointer;
		background: #fff3ed;
		display: flex;
		align-items: center;
		width: 100%;
		border-radius: 1.25rem;
		padding: 1.25rem;
		justify-content: space-between;
		line-height: 1.375rem;
		margin-bottom: 20px;
		transition: 0.25s;
		position: relative;
		@media screen and (min-width:$tablet) {
			padding: 2.1875rem 2.1875rem 2.1875rem 3.125rem;
			font-size: 1.875rem;
			border-radius: 1.875rem;
			margin-bottom: 25px;
		}
		@media screen and (min-width:$full) {
			padding: 3.125rem 3.125rem 3.125rem 4.6875rem;
			font-size: 2.25rem;
			border-radius: 2.5rem;
			margin-bottom: 30px;
		}
		svg {
			width: 1.1875rem;
			height: 1.1875rem;
			transition: .25s;
			@media screen and (min-width:$tablet) {
				width: 1.875rem;
				height: 1.875rem;;
			}
		}
		&._spoller-active {
			background-color: var(--orange-color);
			color: #fff;
				svg {
					path {
						fill: #ffffff;
						transition: .25s;
					}
				}
		}
	}
	&__title:hover {
		@media screen and (min-width:$tablet) {
			background-color: var(--orange-color);
			color: #fff;
			transition: 0.25s;
			svg {
				path {
					fill: #ffffff;
					transition: .25s;
				}
			}
		}
	}
	&__container {
		@media screen and (min-width:$full) {
			max-width: 1600px;
		}
	}
	&__body {
		border-radius: 20px;
		background: #fff8f6;
		padding: 4.375rem 1.25rem 2.5rem 1.25rem;
		margin-bottom: 1.5625rem;
		@media screen and (min-width:$mobile) {
			padding: 1.875rem 1.5625rem 2.5rem 1.5625rem;
			margin-bottom: 2.1875rem;
		}
		@media screen and (min-width:$tablet) {
			padding: 3.125rem 3.125rem 3.75rem 3.125rem;
			border-radius: 30px;
		}
		@media screen and (min-width:$pc) {
			padding: 3.125rem 3.75rem 3.75rem 3.75rem;
		}
		@media screen and (min-width:$full) {
			padding: 4.0625rem 4.6875rem 5.625rem 4.6875rem;
		}
	}
	&__body-title {
		position: relative;
	}
	&__body:first-child {
		padding-top: 2.5rem;
	}
	&__close {
		position: absolute;
		right: 0;
		top: -30px;
		cursor: pointer;
		svg {
			@media screen and (min-width:$tablet) {
				width: 24px;
				height: 24px;
			}
		}
		@media screen and (min-width:$mobile) {
			top: -15px;
		}
		@media screen and (min-width:$mobile) {
		}
	}
}
@media (min-width: $mobile) {
}
@media (min-width: $tablet) {
}
@media (min-width: $pc) {
}
@media (min-width: $full) {
}